{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "mainNavbar.html" %}

<link rel="stylesheet" href="{% static 'css/users/users.css' %}">

<div class="w3-container w3-card-4" id='signupContainer'>
    <h1 class="w3-center title">Change Password</h1>
    
    <form method="post">
        {% csrf_token %}
        {% for field in password_form %}
            <div class='w3-margin'> 
                <label for="id_{{ field.html_name }}" class="myLable">{{ field.label }}:</label>
                <input 
                    type="password" 
                    class="w3-input"
                    id="{{ field.id_for_label }}" 
                    name="{{ field.html_name }}" 
                >
                {% for error in field.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="w3-center">
            <button type="submit" class="w3-button w3-block w3-section w3-green w3-ripple w3-padding">Change Password</button>
        </div>
    </form>

</div>

{% endblock %}