[Unit]
Description=Gunicorn instance for ALGatorWeb
After=network.target

[Service]
User=algator
Group=www-data
Environment="ALGATOR_ROOT=/home/algator/ALGATOR_ROOT"
WorkingDirectory=/home/algator/ALGATOR_ROOT/app/ALGatorWeb
ExecStart=/home/algator/.conda/envs/algator/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 ALGatorWeb.wsgi:application
StandardOutput=append:/home/algator/ALGATOR_ROOT/data_root/log/web/web.log
StandardError=append:/home/algator/ALGATOR_ROOT/data_root/log/web/web_error.log

[Install]
WantedBy=multi-user.target