{% extends "registration/base.html" %}
{% load static from staticfiles %}

{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form class="form-signin col-xs-6 col-xs-offset-3" role="form" method="post" action="/register/">{% csrf_token %}
                <br><br><img src="{% static 'images/logo.png' %}" class="center-block" id="logo"/><br>
                {% for field in form %}
                    <label for="id_username" class="sr-only">Username</label>
                    <input type="{{ field|field_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" placeholder="{{ field.label }}" required="" autofocus="">
                    <h5><small>{{ field.errors }}</small></h5>
                {% endfor %}

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Register" />
                <input type="hidden" name="next" value="{{ next }}" />

                <a href="/accounts/login">Login</a>
            </form>
        </div>
    </div>
{% endblock %}