@font-face {
    font-family: 'customFont';
    src: url('../../fonts/Lambda-mLv6V.ttf') format('truetype');
}

.algator {
    font-family: 'Courier New', monospace;
    font-variant: small-caps;
}

.pa {
  text-align: justify;
  padding: 10px 0;
}

#myContainer{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 80px;
}




/* toggle button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7bc240;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider, .slider:before {
    top: 4px;
}


  .toggleNavBar{
    font-size: 20px;
    font-family: 'customFont', sans-serif; 
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease, text-underline-offset 0.3s ease;
    padding: 10px 15px; 
  }

  code {
    font-family: Consolas, monospace; /* Use a monospaced font */
        background-color: #f4f4f4; /* Light background color */
    padding: 2px 4px; /* Add some padding for readability */
    border-radius: 4px; /* Optional: add rounded corners */
}


.icon-overlay {
  position: relative;
  display: flex;
  font-size: 16px; 
}
.icon-overlay .icon {
  color: #7bc240; /* Icon color */
}
.icon-overlay .overlay-x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px; /* Adjust size for the 'X' */
  color: red; /* 'X' color */
  font-weight: bold;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the div circular */
  background-color: white; /* Circle background color */
  color: black; /* Icon color */
  font-size: 20px; /* Adjust icon size */
}


.pre-text {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
}
