{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block body_block %}
        <!-- ALGator page -->
          <div role="tabpanel" class="tab-pane active tabed-content" id="ALGator">
          	<div class="inner-content">
        		
        		<div class="row" style="margin-top: 1.5cm;">
          		<div class="col-sm-3">
          			<img src="{% static 'images/logo_large.png' %}" class="center-block" />
          		</div>
          		<div class="col-sm-3">
          		   <font size=+2><center>            	
                   	a system for automatic <br>
                   	evaluation of algorithms
                   </center></font>          			
          		</div>
          		<div class="col-sm-6">
          			<img src="{% static 'images/graph1.png' %}" width=100% class="center-block" />
          		</div>
            	</div>
                

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10" style="margin-top: 1.5cm;">

<h3>Aim of the system</h3>
ALGator facilitates automatic algorithm evaluation process by executing 
implementations of the algorithms on the given predefined sets of test cases
and analyzing various indicators of the execution. 
To use the ALGator, user defines a project by giving a definition of 
the problem to be solved, defining sets of test cases, parameters 
of the input and indicators of the output data  and the specifying the criteria for the algorithm quality evaluation. When a project is defined, any number of 
algorithm implementations can be added. When requested, system 
executes all the implemented algorithms, checks for the correctness 
and compares the quality of their results. Using the ALGator user can 
add additional quality criteria, draw graphs and perform evaluations and 
comparisons of defined algorithms. 
</div>
<div class="col-sm-1"></div>
</div>

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10" style="margin-top: 1.5cm;">
<h3>ALGator project definition</h3>

<img src="{% static 'images/algator_overall1.png' %}" width="70%" class="center-block" />
</div>
<div class="col-sm-1"></div>
</div>



            </div>
          </div>
{% endblock %}



