{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block body_block %}
        <!-- ALGator page -->
          <div role="tabpanel" class="tab-pane active tabed-content" id="ALGator">
          	<div class="inner-content">
            	<img src="{% static 'images/logo_large.png' %}" class="center-block" />
                <hr>

                	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum, magna et pellentesque luctus, odio nulla porta purus, commodo congue magna metus vel felis. Nunc tincidunt elit vel lacinia ultrices. Nullam quam lacus, porttitor vel blandit eu, dapibus ut est. Ut vehicula cursus nisl non blandit. Mauris venenatis maximus velit,  ac vehicula dolor molestie eget. Proin in nisl at nulla tincidunt sodales eget ticidunt risus. Nam vitae nibh et ante faucibus ornare. Nunc eget auctor ex. Aliquam viverra lacus risus, quis sollicitudin nunc suscipit quis. Curabitur ligula eros, feugiat eget nulla non, bibendum cursus ligula. Nam fringilla nisl lectus, vel semper nibh
ullamcorper a. Sed nec libero ac nisi maximus efficitur.
            </div>
          </div>
{% endblock %}



