{% load static %}

<link rel="stylesheet" href="{% static 'css/edit.css' %}">

<div style="height:50px;"></div>
<div class="innerContent" id="editGropusInnerContent" style=" margin:15px;">  
  <div id="edit_Groups_frame">
    <div style="font-size:20px">Group:   
        <select id="groups_list" onchange="selectedGroupChanged()"></select> 
    </div>
    <div id="editGropusInnerContent-form"></div>
    <i class="fa fa-plus" style="font-size:18px; margin-top:10px; color:green;" 
       id="newGroupB"    title="Add a group"onclick="addNewGroup()"></i>
  </div>
  
   
  <div id="newGroupInnerContent-form"></div>

</div>

