<!--{% extends 'base.html' %}--> 

{% load static %}

<!--{% block content %}-->

<link href="{% static 'css/c3.css' %}"         rel="stylesheet">
<link href="{% static 'css/jsonviewer.css' %}"     rel="stylesheet">
<link href="{% static 'css/ashell.css' %}"     rel="stylesheet">
<link rel="stylesheet" href="{% static 'fa/css/all.css' %}">    


<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>        
<script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jsonviewer.js' %}"></script>      
<script type="text/javascript" src="{% static 'js/ashell.js' %}"></script>      
<script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>


<script type="text/javascript" src="{% static 'js/ace/ace.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/jquery.simple.websocket.min.js' %}"></script>  

<body>
<input type="hidden" id="algator_root" name="variable" value="{{ algator_root }}">

<div class="inner-content" style="overflow:auto; height:100vh;padding: 0px 15px 0px 15px;margin-top: 15px;"> 
<div id="menupanel" class="elt panel" style="margin-bottom: 5px; height:100px; background-color:white; position: sticky; top: 0; border:1px solid #aacc4e; z-index: 2;">
  <div><b>&nbsp;<span class="menuitem" id="menu-alga" onclick="showMenuPanel('opt-alga');" style="margin: 0px; font-size:16px">#ALGator shell</span>&nbsp; | </b>
       <span class="menuitem" id="menu-file" onclick="showMenuPanel('opt-file');">File</span> |
       <span class="menuitem" id="menu-proj" onclick="showMenuPanel('opt-proj');">Project</span> |     
       <span class="menuitem" id="menu-task" onclick="showMenuPanel('opt-task');">Tasks</span> |            
       <span class="menuitem" id="menu-help" onclick="showMenuPanel('opt-help');">Help</span>
       <span style="float: right; margin:3px 5px 0 0" class="glyphicon glyphicon-asterisk" onclick="showHideMenu('none');"></span>
       <span id="sel_proj_pane" style="float: right; display:none;"> 
          <span id="sel_proj" style="margin-right:5px;">/</span>
       </span>

  </div>  
  <hr style="margin: 0px; border-top: 1px dashed black;">
  <div class="menupanel" id="opt-alga" style="display:visible;">
    <span id="alg_version" class="menuCommand">ALGator version</span> | <span id="web_version" class="menuCommand">ALGator webpage version</span> | <span id="srvr_status" class="menuCommand">Server status</span> |  <span id="db_info" class="menuCommand">DB info</span> |  <span id="who" class="menuCommand">Who</span>
  </div>
  <div class="menupanel" id="opt-file" style="display:none;">
    <span id="editFile" class="menuCommand">Edit file</span> | 
    <span id="editProject" class="menuCommand">Edit project</span> | 
  </div>
  <div class="menupanel" id="opt-proj" style="display:none;">
    <span id="setProject"    class="menuCommand">Set project</span> | 
    <span id="resultStatus" class="menuCommand">Results</span> | 
  </div>
  <div class="menupanel" id="opt-task" style="display:none;">
       <span id="tasksShowTasks" class="menuCommand">Show tasks</span> 
       | 
       <span id="tasksShowTaskClients" class="menuCommand">Show active TaskClients</span> 
  </div>
  <div class="menupanel" id="opt-help" style="display:none;">
       <span id="help" class="menuCommand">Help</span> 
  </div>

</div>
<div id="vsebina"></div>
<input type="button" style="background-color: ligthyellow; width:28px" value="+" class="myBtn" onclick="novElement();">
<hr>

<!-- confirmation dialog -->
<div class="cd-overlay" id="cd-overlay" hidden>
    <div class="cd-confirm-box">
      <div style="width=100%; border-bottom: 1px solid black">
        <div onclick="closeConfirmBox()" class="cd-close">&#10006;</div>
        <span><h3 style="margin-top:0px;">Confirmation</h3></span>
      </div>        
      <p id="cd-message-text" style="margin-top:15px;">Really want to execute this action?</p>
      <div style="position:absolute;bottom:10px; width:100%; align-content:center;">
        <button onclick="isConfirm(true)">Yes</button>
        <button onclick="isConfirm(false)">No</button>
      </div>
    </div>
</div>

<script>
  window.CSRF_TOKEN = "{{ csrf_token }}";

  idNum = 0;
  novElement();

  lastConfirmAnswer = 0;  // 0 ... 'X', 1 ...' YES", 2 ... 'NO'
  
  // register all click listeners on menu items
  var menuElements = document.getElementsByClassName("menuCommand");
  for (var i = 0; i < menuElements.length; i++) {
    menuElements[i].addEventListener('click', optionSelected, false);
  }


  const defaultProject = "{{ project|escapejs }}";
  if (defaultProject && defaultProject != "None") 
    selectProject(0, defaultProject);


</script>

</body>
</html>

<!--{% endblock %}-->
