{% extends 'base.html' %} 

{% load static %}

{% block content %}

<link href="{% static 'css/c3.css' %}"           rel="stylesheet">
<link href="{% static 'css/ashell.css' %}"        rel="stylesheet">

<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>        
<script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/ashell.js' %}"></script>      
<script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script>

<script type="text/javascript" src="{% static 'js/ace/ace.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/jquery.simple.websocket.min.js' %}"></script>  

<style type="text/css">
  .menuitem, .menuCommand, .projectname {
    cursor: pointer; 
  }
  .menuitem:hover, .menuCommand:hover, .projectname:hover{
    text-decoration: underline;
  }  
  .menupanel {
    padding: 7px;
  }
</style>

<script>
  function showMenuPanel(panel) {
    document.querySelectorAll('.menupanel').forEach(function(el) {
      el.style.display = 'none';
    });
    document.getElementById(panel).style.display='block';
  }

  function showHideMenu(display) {
    document.getElementById("menupanel").style.display=display;
  }

  function selectProject(blockID, projName) {
    env.currentProject = projName;

    $("#sel_proj").text(projName);
    $("#sel_proj_pane").css('display', 'block');

    showAnswer(blockID, new TextData("Project " + projName +" selected."));
  }

  function toggleSH(blockID, idx) {
    var spanElt = document.getElementById("spanSH-"   + blockID + "-" + idx); 
    var tabElt  = document.getElementById("famTable-" + blockID + "-" + idx);     
    var cont = spanElt.innerHTML;
    if (cont.indexOf("plus") > 0) {
      spanElt.innerHTML = '<img src="/static/images/minus24.png" width=12 />';
      tabElt.style.display = 'block';
    } else {
      spanElt.innerHTML = '<img src="/static/images/plus24.png" width=12 />';
      tabElt.style.display = 'none';
    }
    env.data.get(blockID).shStatus.set(idx, tabElt.style.display);
  }
</script>

<body>
<input type="hidden" id="algator_root" name="variable" value="{{ algator_root }}">

<div class="inner-content" style="overflow:auto; height:100vh;padding: 0px 15px 0px 15px;margin-top: 15px;"> 
<div id="menupanel" class="elt panel" style="margin-bottom: 5px; height:100px; background-color:white; position: sticky; top: 0; border:1px solid #aacc4e; z-index: 5000;">
  <div><b>&nbsp;<span class="menuitem" id="menu-alga" onclick="showMenuPanel('opt-alga');" style="margin: 0px; font-size:16px">#ALGator shell</span>&nbsp; | </b>
       <span class="menuitem" id="menu-file" onclick="showMenuPanel('opt-file');">File</span> |
       <span class="menuitem" id="menu-proj" onclick="showMenuPanel('opt-proj');">Project</span> |     
       <span class="menuitem" id="menu-help" onclick="showMenuPanel('opt-help');">Help</span>
       <span style="float: right; margin:3px 5px 0 0" class="glyphicon glyphicon-asterisk" onclick="showHideMenu('none');"></span>
       <span id="sel_proj_pane" style="float: right; display:none;"> 
          <span id="sel_proj" style="margin-right:5px;">/</span>
       </span>

  </div>  
  <hr style="margin: 0px; border-top: 1px dashed black;">
  <div class="menupanel" id="opt-alga" style="display:visible;">
    <span id="alg_version" class="menuCommand">ALGator version</span> | <span id="web_version" class="menuCommand">ALGator webpage version</span> | <span id="srvr_status" class="menuCommand">Server status</span> |  <span id="db_info" class="menuCommand">DB info</span> |  <span id="who" class="menuCommand">Who</span>
  </div>
  <div class="menupanel" id="opt-file" style="display:none;">
    <span id="editFile" class="menuCommand">Edit file</span> | 
    <span id="editProject" class="menuCommand">Edit project</span> | 
  </div>
  <div class="menupanel" id="opt-proj" style="display:none;">
    <span id="setProject"    class="menuCommand">Set project</span> | 
    <span id="resultStatus" class="menuCommand">Results</span> | 
  </div>
  <div class="menupanel" id="opt-help" style="display:none;">
       <span id="help" class="menuCommand">Help</span> 
  </div>
</div>
<div id="vsebina"></div>
<input type="button" style="background-color: ligthyellow; width:28px" value="+" class="myBtn" onclick="novElement();">
<hr>

<!-- confirmation dialog-->
<div class="cd-overlay" id="cd-overlay" hidden>
    <div class="cd-confirm-box">
      <div style="width=100%; border-bottom: 1px solid black">
        <div onclick="closeConfirmBox()" class="cd-close">&#10006;</div>
        <span><h3 style="margin-top:0px;">Confirmation</h3></span>
      </div>        
      <p id="cd-message-text" style="margin-top:15px;">Really want to execute this action?</p>
      <div style="position:absolute;bottom:10px; width:100%; align-content:center;">
        <button onclick="isConfirm(true)">Yes</button>
        <button onclick="isConfirm(false)">No</button>
      </div>
    </div>
</div>

<script>
  window.CSRF_TOKEN = "{{ csrf_token }}";

  idNum = 0;
  novElement();

  lastConfirmAnswer = 0;  // 0 ... 'X', 1 ...' YES", 2 ... 'NO'
  // param is just a way to pass a param from caller of showConfirmBox to callback function
  function showConfirmBox(question, callback, param) {
    lastConfirmAnswer = 0; 
    answerCallback    = callback;
    answerParam       = param;
    document.getElementById("cd-message-text").innerHTML = question;
    document.getElementById("cd-overlay").hidden = false;
  }
  function closeConfirmBox() {
    document.getElementById("cd-overlay").hidden = true;
    answerCallback(lastConfirmAnswer, answerParam);
  }

  function isConfirm(answer) {
    lastConfirmAnswer = answer ? 1 : 2;
    closeConfirmBox();
  }


  // options on menu click 
  var optionSelected = function() {
    var id = this.id;
    var inputElt = document.getElementById("cmdQuestion-"+env.lastSelectedBlock);
    if (inputElt == null) {
      alert("Please, choose the answer-destination block.");
      return;
    }
    var defaultProj = "<project>";
    var defaultFile = "<file>";
    
    var cmd = "", setFocus = true, scrollInView = true, execCmd = true;
    switch (id) {
      case 'alg_version':
        cmd = '$Version';

        break;
      case 'web_version':
        cmd = 'version';
        break;
      case 'srvr_status':
        cmd = '>status';
        break;
      case 'db_info':
        cmd = '>dbinfo';
        break;
      case 'who':
        cmd = '>who';        
        break;

      case 'help':
        cmd = 'help';
        break;


      case 'editFile':
        cmd = 'file ' + 
                (env.currentProject ? env.currentProject : defaultProj) + ' ' + 
                defaultFile;
        execCmd = false;
        break;

      case 'editProject':
        cmd = 'project ' + (env.currentProject ? env.currentProject : defaultProj);
        execCmd = (env.currentProject) ? true : false;
        break;

      case 'setProject':        
        cmd = 'setProject';
        break;

      case 'resultStatus':        
        cmd = 'results {"Project":"' + (env.currentProject ? env.currentProject : defaultProj) + '", "MType":"em"}';
        execCmd = (env.currentProject) ? true : false;
        break;

    }
    if (cmd != "") inputElt.value = cmd;
    if (setFocus)  inputElt.focus();
    if (execCmd)   processQuestion(env.lastSelectedBlock);
    if (scrollInView)   $("#cmdAnswer-" + +env.lastSelectedBlock).scrollTop($("#cmdQuestion-"+env.lastSelectedBlock)[0].scrollHeight);

  }
  // register all click listeners on menu items
  var menuElements = document.getElementsByClassName("menuCommand");
  for (var i = 0; i < menuElements.length; i++) {
    menuElements[i].addEventListener('click', optionSelected, false);
  }
</script>

</body>
</html>

{% endblock %}
