<script language="javascript" type="text/javascript">

var timeout = setInterval(rC, 1000);    
function rC () {
  if (document.hidden) {
      return;
  }  
  $.get("{% url 'cpanel:askServer' %}?q=ProjectStatus {{ projectName }} {{ algorithmName }}", function( my_var ) {
      try {          
        obj = JSON.parse(my_var);       
        tab = JSON.parse(obj.answer);
        {% for testset in project.testsets %}
            {% with 'em cnt jvm' as list %} {% for mtype in list.split %}  
              $("#runstatus{{projectName}}{{algorithmName}}{{ testset.name}}{{ mtype }}").html(tab.{{projectName}}_{{algorithmName}}_{{ testset.name}}_{{ mtype }});               
              {% endfor %}{% endwith %}
        {% endfor %}
      } catch (err) {
        $("#runstatus{{projectName}}{{algorithmName}}TestSet1em").html(err.message + " -- " + my_var);   
      }
  }, 'html');
}

 $(document).ready(function() {
        rC();
    });

</script>



<h3>Algorithm {{ projectName }} / {{ algorithmName }} // {{ project.name }}</h3>
<p><a href="{{ jweURL }}">Edit</a></p><br>

{% for testset in project.testsets %}
<font size="+1">{{ testset.name}}</font>
<table width='100%'>
  {% with 'em cnt jvm' as list %} {% for mtype in list.split %}  
  <tr>
      
      <td rowspan='2' valign='center' style='text-align: left; width:25px;'>&nbsp; &nbsp; <b>{{ mtype|upper }}</b></td>
      <td style='text-align: left; width:25px;'><input type="button" value="Run" onclick="runTask('{{ projectName }}', '{{ algorithmName }}', '{{ testset.name}}', '{{ mtype }}')"></td>              
      <td style='text-align: left; width:25px;'><a href="{% url 'cpanel:history' %}?project={{ projectName }}&algorithm={{ algorithmName }}&testset={{ testset.name }}&mtype={{ mtype }}">Log</a></td>      
      {% for comp in computers %}        
        {% with comp|concat:"/"|concat:algorithmName|concat:"-"|concat:testset.name|concat:"."|concat:mtype as desc %}                     
          <td width='70px'>        
          {% if results|get_item:desc|length > 0 %} 
            <a href="{% url 'cpanel:results' %}?project={{ projectName }}&comp={{ comp }}&file={{ algorithmName }}-{{ testset.name}}.{{ mtype }}">{{ comp }} {{ results|get_item:desc }}</a>
          {% else %}
            <!--
            {{ comp }}
            -->
          {% endif %}               
          </td>          
        {% endwith %}            
      {% endfor %}       
      </tr><tr><td></td>    
        <td colspan='10' style='border-bottom-style: solid;'><div id="runstatus{{projectName}}{{algorithmName}}{{testset.name}}{{ mtype }}"></div></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  {% endfor %}{% endwith %}
</table>     
{% endfor %}


