<table id="menu"><tbody>
  <tr>
    <td class="selected_section">
    <span title="Control panel settings">Control panel</span>
    </td>
  </tr>
  <tr>
    <td>
      <span title="Tooltip for section">
        <a href="{% url 'cpanel:taskserver' %}">TTask Server</a>
      </span>
    </td>
  </tr>
  <tr>  
    <td align=left>
      <span title="Available projects">Projects</span>
{% if projects_list %}
  <ul>
  {% for project in  projects_list %}
    <li><a href="{% url 'cpanel:project' %}?project={{ project.name }}">{{ project.name }} </a>
    </li>
    {% if project.algorithms %}
      <ul>
        {% for algorithm in project.algorithms %}
          <li><a href="{% url 'cpanel:algorithm' %}?project={{ project.name }}&algorithm={{ algorithm.name }}">{{ algorithm.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}    
  {% empty %}
    <li>None!</li>
  {% endfor %}
  </ul>
{% endif %}
          
    </td>                
  </tr>
</tbody></table>
