{% extends 'base.html' %}

{% block body_block %}
{% if projects_list %}
<div class="col-md-2" style="height: 100%; bordr-style: solid; border-width: 5px;">
{% if request.user.username == "admin" %}
  <ul>
  {% for project in  projects_list %}
    <li><a href="">{{ project.name }}</a></li>
  {% empty %}
    <li>Sorry, no projects in this list!</li>
  {% endfor %}
  </ul>
{% else %}
  No projects available for {{ request.user.username }}.
{% endif %}
</div>
<div class="col-md-10" id="cpanel-vsebina">
</div>
{% else %}
    <h4><p><strong>No Projects found!</strong></p></h4>
{% endif %}
{% endblock %}
