<script language="javascript" type="text/javascript">

var timeout = setInterval(reloadContent, 1000);    
function reloadContent () {
  $.get("{% url 'cpanel:askServer' %}?q=status", function( my_var ) {
      obj = JSON.parse(my_var);
      $("#status").html(obj.answer); 
  }, 'html');

  $.get("{% url 'cpanel:askServer' %}?q=LIST", function( my_var ) {
      obj = JSON.parse(my_var);
      $("#tasks").html(obj.answer); 
  }, 'html');
}

 $(document).ready(function() {
        reloadContent();
    });

</script>

<div id="mybody">

<h3>Taskserver status page</h3>

<p><b>Current status:</b> <span id="status"></span></p><br>


<b>Tasks:</b>
<pre>
<div id='tasks'></div>
</pre>

</div>
