{% extends 'base.html' %}

{% load static %}

{% block imports_block %}
<link href="{% static 'css/c3.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>        
<script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/report.js' %}"></script>  

<style type="text/css">

</style>

{% endblock %}



{% block body_block %}

<div id="main" class="container-fluid">
  <div class="panel" style="height:calc(100vh - 90px)">

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Project: {{project.name}}</h3>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
  </div>
 </div>
{% endblock %}
