{% extends 'base.html' %}

{% block body_block %}

{% load static from staticfiles %}
<link href="{% static 'css/c3.css' %}"                   rel="stylesheet">
<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>        
<script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script> <script type="text/javascript" src="{% static 'js/report.js' %}"></script>  


{% include 'apasica.html' %}


<div id="wrapper">
{% with "true" as alg_submenu %}     
{% include 'algorithm_menu.html' %}
{% endwith %}

<div id="page-wrapper" style="border-left: 0px">
<center><table width=70% height=30%>

{% for presenter in project.MainAlgPresenters %}
<tr><td>
<div id="graf{{ presenter.name }}{{ forloop.counter }}" class="chart"></div>    
    <script>
      var ya = {{ presenter.yaxes|safe }};
      var settings = {
        xaxis: "{{ presenter.xaxis }}",
        yaxes: ya,
        params: "{{ algorithm.name }}"
      };
      fillReportData(
          "{% url 'cpanel:askServer' %}", "{{ presenter.name }}{{ forloop.counter }}", 
          '{{ project.name }}', '{{ presenter.query }}', settings);
    </script>  
</td></tr>
{% endfor %}    
</table></center>

<!-- Basic Information -->
<div role="tabpanel" class="tab-pane active" id="basicinformation{{ algorithm.name }}">

<div class="panel-group" id="abasic-info{{ algorithm.name }}" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#abasic-info{{ algorithm.name }}" href="#aboutAlgorithm{{ algorithm.name }}" aria-expanded="true" aria-controls="aboutAlgorithm{{ algorithm.name }}">
          About the algorithm
        </a>
      </h4>
    </div>
    <div id="aboutAlgorithm{{ algorithm.name }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Language: {{ algorithm.language }}
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#abasic-info{{ algorithm.name }}" href="#details{{ algorithm.name }}" aria-expanded="false" aria-controls="details{{ algorithm.name }}">
            Detailed description        
        </a>
      </h4>
    </div>
    <div id="details{{ algorithm.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          Detailed description
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#abasic-info{{ algorithm.name }}" href="#aother{{ algorithm.name }}" aria-expanded="false" aria-controls="aother{{ algorithm.name }}">
          Other
        </a>
      </h4>
    </div>
    <div id="aother{{ algorithm.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <h4 class="primary-color">
            Author: &nbsp;
            <small>{{ algorithm.author }}</small>
            <br><br>
            Date of last change: &nbsp;
            <small>{{ algorithm.date }}</small>
            <br><br>
        </h4>        
      </div>
    </div>
  </div>

</div>
</div> <!-- Basic Information -->

</div>
</div>
{% endblock %}
