<script language="javascript" type="text/javascript">
function showResults () {
  $.get("{% url 'cpanel:askServer' %}?q=getQueryResult%20Sorting%20query1%20{{ algorithm.name }}", function( my_var ) {
      try {         
        obj = JSON.parse(my_var);                       

        output = "";
        tag = "<th>";antitag="</th>";
        vrstice = obj.answer.split("<br>");
        for (i=0; i< vrstice.length; i++) {
            stolpci = vrstice[i].split(";");
            
            output +="<tr>"
            for(j=0; j<stolpci.length; j++) {
                output += tag + stolpci[j] + antitag;
            }  
            output +="</tr>";
            
            tag = "<td>";antitag="</td>";            
        }
        output = "<table class='table table-striped'>" + output + "</table>";   
        
        $("#resultsIN{{ algorithm.name }}").html(output);        
      } catch (err) {
          //$("#resultsIN{{ algorithm.name }}").html(err);
      }
  }, 'html');
}
</script>

<div class="primary-color"><h3 style="padding-top: 1px; padding-bottom: 11px">&nbsp; {{ algorithm.name }}</h3></div>

<div class="container-fluid" id="collapse{{ algorithm.name }}">
    <br>
    <div class="alert alert-info" role="alert">
        Author: {{ algorithm.author }}<br>
        Date: {{ algorithm.date }}
    </div>
    <br><br>
</div>

<div class="panel panel-success">
    <div class="panel-heading" role="tab">
        <h5 class="">
            <a class="collapsed" data-toggle="collapse" href="#algDesc{{ algorithm.name }}" aria-expanded="true">
                <strong>ALGORITHM DESCRIPTION</strong>
            </a>
        </h5>
    </div>
    <div id="algDesc{{ algorithm.name }}" class="panel-collapse collapse in" role="tabpanel">
        <div class="panel-body">
            {{ algorithm.html_description|safe }}
        </div>
    </div>
</div>

<!--div class="panel panel-success">
    <div class="panel-heading" role="tab">
        <h5 class="">
            <a class="collapsed" data-toggle="collapse" href="#algStatus{{ algorithm.name }}" aria-expanded="true">
                <strong>STATUS</strong>
            </a>
        </h5>
    </div>
    <div id="algStatus{{ algorithm.name }}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body" id="status{{ algorithm.name }}" >
            ... loading
        </div>
    </div>
</div-->


<div class="panel panel-success">
    <div class="panel-heading" role="tab">
        <h5 class="">
            <a class="collapsed" data-toggle="collapse" 
               href="#results{{ algorithm.name }}" aria-expanded="true">
                <strong>RESULTS</strong>
            </a>
        </h5>
    </div>
    <div id="results{{ algorithm.name }}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body" id="resultsIN{{ algorithm.name }}" >
            
        </div>
    </div>
</div>


<script>
  $("#status{{ algorithm.name }}").load('/cpanel/algorithm/?project=Sorting&algorithm=BubbleSort');  
  $(document).ready(function() { showResults(); });
</script>
