{% load static %}

<link href="{% static 'css2/metisMenu.min.css' %}" rel="stylesheet">
<link href="{% static 'css2/sb-admin-2.css' %}" rel="stylesheet">
<link href="{% static 'css2/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<style>
body {
    background: white;
}
.sidebar {
    margin-top: 1px;  
    margin-left: 15px;  
}
</style>


    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">                
{% if alg_submenu %}                  
              <li class='active'><a href="#"><i class="fa fa-sitemap fa-fw">&nbsp;</i>Algorithm description<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level expanded">                
                
                 <li>
                    <a class="collapsed" data-toggle="collapse" 
                       data-parent="#basic-info-accordion{{ project.name }}"
                       href="#quickInfo{{ project.name }}" aria-expanded="false" aria-controls="other{{ project.name }}">Quick info</a>
                  </li>             

                  <li>
                    <a class="collapsed" data-toggle="collapse" 
                     data-parent="#abasic-info{{ algorithm.name }}"
                     href="#details{{ algorithm.name }}" aria-expanded="false" aria-controls="details{{ algorithm.name }}">Algorithm description</a>
                  </li>

                  <li>
                    <a class="collapsed" data-toggle="collapse" 
                     data-parent="#abasic-info{{ algorithm.name }}"
                     href="#algorithmReferences{{ algorithm.name }}" aria-expanded="false" aria-controls="algorithmReferences{{ algorithm.name }}">References</a>
                  </li>                
                  </ul>
{% else %}                   
              <li class='active'><a href="{% url 'problems:adetails' %}?project={{ project.name }}&algorithm={{ algorithm.name }}&showType=alg"><i class="fa fa-sitemap fa-fw">&nbsp;</i>Algorithm description<span class="fa arrow"></span></a></li>                                               
{% endif %}

                <li class='active'>
                    <a href="{% url 'problems:adetails' %}?project={{ project.name }}&algorithm={{ algorithm.name }}&showType=imp"><i class="fa fa-wrench fa-fw">&nbsp;</i>Implemention</a>
                </li>                 
                          
          
{% if txtresults_menu %}         
                <li class='active'><a href="#"><i class="fa fa-bar-chart-o fa-fw">&nbsp;</i>TXT Results<span class="fa arrow"></span></a>
               
                <ul class="nav nav-second-level expanded">                
                  {% for txtres in algorithm.txtResultFiles %}
                  <li>
                    <a class="collapsed" data-toggle="collapse" 
                     data-parent="#RepPanels{{ project.name }}"
                     href="#" aria-expanded="false" aria-controls="report-panel-{{ rep.name }}">
                     <span onclick="loadTXTFIle('{{ project.name }}', '{{ algorithm.name }}', '{{ txtres.cid }}', '{{ txtres.testset }}')">
                       {{ txtres.cid }}-{{ txtres.testset }}
                     </span>
                    </a>
                  </li>                
                  {% endfor %}
                </ul> 
                </li> 
{% else %}
              <li class='active'><a href="{% url 'problems:txtresults' %}?project={{ project.name }}&algorithm={{ algorithm.name }}"><i class="fa fa-bar-chart-o fa-fw">&nbsp;</i>TXT Results<span class="fa arrow"></span></a></li>     
{% endif %}


{% if results_menu %}         
                <li class='active'><a href="#"><i class="fa fa-bar-chart-o fa-fw">&nbsp;</i>Results<span class="fa arrow"></span></a>
               
                <ul class="nav nav-second-level expanded">                
                  {% for pres in presenters %}
                  <li>
                    <a class="collapsed" data-toggle="collapse" 
                     data-parent="#RepPanels{{ project.name }}"
                     href="#presenter-panel-{{ pres.name }}" aria-expanded="false" aria-controls="presenter-panel-{{ pres.name }}">
                       {{ pres.shorttitle }}
                    </a>
                  </li>                
                  {% endfor %}
                  <script>window.CSRF_TOKEN = "{{ csrf_token }}";</script>
                  <!--a href=javascript:window.location.href=window.location.href -->
                  <a onclick="newPresenter('{{ project.name }}', 3);">New...</a>                  
                </ul> 
                </li> 
{% else %}
              <li class='active'>
                  <a href="{% url 'problems:results' %}?project={{ project.name }}&algorithm={{ algorithm.name }}">
                    <i class="fa fa-bar-chart-o fa-fw">&nbsp;</i>Results<span class="fa arrow"></span>
                  </a></li>     
{% endif %}


            </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw">&nbsp;</i><span onclick="openQuery('{{ project.name }}')">Query editor</span></a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->

    <script src="{% static 'js2/metisMenu.min.js' %}"></script>
    <script src="{% static 'js2/sb-admin-2.js' %}"></script>

    <script>
       function openQuery(project) {
          var state = { };
          var title = 'Query editor';
          var url   = '/vision/project?projectName={{ project.name }}';

          history.pushState(state, title, url);

         $( "#pasica" ) .load("{% url 'problems:ppasica' %}?projectName={{ project.name }}")
         $( "#wrapper" ).load( "/vision/project?projectName={{ project.name }}" );
       } 

       function loadTXTFIle(project, algorithm, cid, testset) {
          var state = { };
          var title = 'Query editor';
          var url   = '/vision/project?projectName={{ project.name }}';

          history.pushState(state, title, url);

          var fileDesc='{' + 
                       ' "Project":"'+project+'", ' + 
                       ' "File":"results/'+cid+'/'+algorithm+'-'+testset +'"'+
                       '}';
          var url = "{% url 'cpanel:askServer' %}?q=GetFile " + fileDesc;

          $.ajax({
            url: url,
            dataType: 'json',
          }). done(function (response) {  
            var answer = response.answer;

            $( "#txtResultTitle" ).html(cid+" / " + testset);            
            $( "#txtResultCont" ) .html("<pre>"+atob(JSON.parse(answer.replaceAll("'",'"')).Answer)+"</pre>");
          });            
       } 

    </script>

