{% extends 'base.html' %}

{% block body_block %}

{% include 'apasica.html' %}

<div id="wrapper">    
{% include 'algorithm_menu.html' %}


<div id="page-wrapper" style="border-left: 0px">

<div role="tabpanel" class="tab-pane active" id="basicinformation{{ project.name }}">


<div class="panel-group" id="techdetails-accordion{{ project.name }}" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#techdetails-accordion{{ project.name }}" href="#testCase{{ project.name }}" aria-expanded="true" aria-controls="testCase{{ project.name }}">
            {{ algorithm.alg_source_name }}
        </a>
      </h4>
    </div>
    <div id="testCase{{ project.name }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% load pygmentify %}
        {% pygment %}
        <pre lang="java">
{{ algorithm.alg_source|safe }}
        </pre>
        {% endpygment %}
      </div>
    </div>
  </div>


</div>
</div> 

</div>
</div>
{% endblock %}
