    {% load static %}
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/abcdef.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/eclipse.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/addon/hint/show-hint.css' %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>

    <link href="{% static 'css/select2.css' %}"              rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/select2.js' %}"></script> 

    <script type="text/javascript" src="{% static 'js/base64.min.js' %}"></script>
 

    <link href="{% static 'css/edit.css' %}" rel="stylesheet">

    
<script>
  deleteImgPath = "{% static 'images/delete.png' %}";
  addImgPath    = "{% static 'images/add.png' %}";

  window.CSRF_TOKEN = "{{ csrf_token }}";
  askServerURL = "{% url 'main:pAskServer' %}";
</script>

<div style="height: 50px"></div>    

<div class="subNavBar" id="menuitems">
  <span name="mi" class="w3-bar-item navBarEl bw" href="#general"     onclick="selectMenuItem(this)">General</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#input"       onclick="selectMenuItem(this)">Input</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#output"      onclick="selectMenuItem(this)">Output</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#parameters"  onclick="selectMenuItem(this)">Parameters</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#generators"  onclick="selectMenuItem(this)">Generators</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#testset"     onclick="selectMenuItem(this)">TestSets</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#timers"      onclick="selectMenuItem(this)">Timers</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#indicators"  onclick="selectMenuItem(this)">Indicators</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#counters"    onclick="selectMenuItem(this)">Counters</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#tools"       onclick="selectMenuItem(this)">Tools</span>
  <span name="mi" class="w3-bar-item navBarEl bw" href="#algorithms"  onclick="selectMenuItem(this)">Algorithms</span>


  <div id="menu-dot" style="top:57px; right:5px;" onclick="saveContent()"></div>

</div> 

<div class="innerContent" id="editProjectContent">
  <div id="editProjectButtons" class="editMode" style="display: flex;flex-direction: row-reverse;margin-right: 10px;">
    <i id="Edit_editProjectSection" class="far fa-edit icon" onclick="editSection()"></i>
  </div>

  <div id=bodydiv style="margin: 5px 10px 0px 10px;">
    {% if project.name != "" %}    
    <div id="intermediate-section">
      <div id="general-list" class="submenuitem">
        <hi>General properties</hi> 
        <span id="generals-list_panel"></span>
      </div>  
       <div id="input-list" class="submenuitem">
        <hi>Algorithm's input</hi> 
        <span id="input-list_panel"></span>
      </div>        
      <div id="output-list" class="submenuitem">
        <hi>Algorithm's output</hi> 
        <span id="output-list_panel"></span>
      </div>      
      <div id="parameters-list" class="submenuitem">
        <hi> Project parameters</hi> 
        <span id="parameters-list_panel"></span>
      </div>
      <div id="generators-list" class="submenuitem">
        <hi>Testcase generators</hi> 
        <span id="generators-list_panel"></span>
      </div>

      <div id="testset-list" class="submenuitem">
        <hi>Testsets</hi> 
        <span id="testsets-list_panel"></span>
      </div>

      <div id="timers-list" class="submenuitem">
        <hi>Timers</hi> 
        <span id="timers-list_panel"></span>
      </div>

      <div id="indicators-list" class="submenuitem">
        <hi>Indicators</hi> 
        <span id="indicators-list_panel"></span>
      </div>

      <div id="counters-list" class="submenuitem">
        <hi>Counters</hi> 
        <span id="counters-list_panel"></span>
      </div>
       <div id="tools-list" class="submenuitem">
        <hi>Tools</hi> 
        <span id="tools-list_panel"></span>
      </div>        

      <div id="algorithms-list" class="submenuitem">
        <hi>Algorithms</hi> 
        <span id="algorithms-list_panel"></span>
      </div>
    </div>

    <div id="lower-section">
        
        <div id="general-div" class="content-div">
            <script>
              setGeneralData(
                "{{ project.name }}", "{{ project.eid }}", "{{ project.description }}", "{{ project.author }}", "{{ project.date }}", 
                "{% for algorithm in project.algorithms %}{{ algorithm.name }}{% if not forloop.last %},{% endif %}{% endfor %}", 
                "{% for testset in project.testsets %}{{ testset.name }}{% if not forloop.last %},{% endif %}{% endfor %}"
              );
              showGeneralData();
            </script>
        </div>

        <div id="input-div" class="content-div">
            <table style="width:100%;">
            <tr>
                <td><textarea id="input-class" style="display: none;" onchange="contentChanged(changes.other, 'input')"></textarea>
                    <div class="CodeMirror" disabled id="input-code-editor"></div>
                </td>
            </tr></table>
            <script>
                initCodeMirrorEditor("input-code-editor", "input-class", "{{ project.source_input |escapejs }}", changes.other, "input", undefined,undefined,undefined,true);
                setFileContent("input", "{{ project.source_input |escapejs }}");
            </script>
        </div>

        <div id="output-div" class="content-div">
            <table style="width:100%;">
            <tr>
                <td><textarea id="output-class" style="display: none;"></textarea>
                    <div class="CodeMirror" id="output-code-editor"></div>
                </td>
            </tr></table>
            <script>
                initCodeMirrorEditor("output-code-editor", "output-class", "{{ project.source_output |escapejs }}", changes.other, "output", undefined,undefined,undefined,true);
                setFileContent("output", "{{ project.source_output |escapejs }}");                
            </script>
        </div>

        <div id="parameters-div" class="content-div">
            <div id="parameterElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newparname">Create a new parameter: &nbsp; &nbsp;</label><input style="width:200px;" type="text" id="newparname">
              &nbsp;<input type="checkbox" id="isInputP" name="isInputP">  <label for="isInputP">Input parameter? </label>&nbsp;
              <span id="addParamButton" class="tooltip-button" data-tooltip="Add" onclick="newParameter('{{project.name}}')" style="content:'Add';">
                  <img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>

              <script>
                registerClickOnEnter("newparname", "addParamButton");
                insertNewSubNavbarItem("parameterElt", "parameterlink", "parameters-list_panel");
              </script>
              <hr>
            </div>

            <div id="inputParameters"><h4>Input Parameters</h4></div>
            <div id="otherParameters"><h4>Other Parameters</h4></div>
            <script>
              {% for key, value in project.parameters.items %}
                pageProject.addParameter("{{ key }}", "{{ value.IsInputParameter }}", "{{ value.Description }}", "{{ value.Meta.Default }}",
                    "{{ value.Meta.Min }}", "{{ value.Meta.Max }}", "{{ value.Meta.Step }}", "{{ value.Meta.Values }}", "{{ value.Type }}"
                );
              {% endfor %}
              showParameters();
            </script>            
        </div>

        <div id="generators-div" class="content-div">
            <div id="generatorElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newgenname">Create a new generator of type: &nbsp; &nbsp;</label><input style="width:200px;" type="number" min="0" value="0" id="newgenname">
              &nbsp;<label for="newgenparam">Parameters: &nbsp; &nbsp;</label><select class="multiselect" id="newgenparam" multiple style="width: 400px;"></select> &nbsp;
                <span id="addGButton" class="tooltip-button" data-tooltip="Add" onclick="newGenerator('{{project.name}}')" style="content:'Add';">
                  <img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>
              <hr>
            </div>
            <script>
              setNewGenParamValue();
              insertNewSubNavbarItem("generatorElt", "generatorlink", "generators-list_panel");
            </script>

            <div id="generators-div">
            <script>
              {% for key, value in project.generators.items|dictsort:0 %}
                 pageProject.addGenerator("{{ key }}","{{ value.Description }}", "{{ value.GeneratingParameters }}", 
                    "{{ project.source_generators|get_item:key |escapejs }}");
              {% endfor %}
              showGenerators();
            </script>
            </div>
        </div>

        <div id="testset-div" class="content-div">
            <div id="testsetElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newtestsetname">Create a new testset: &nbsp; &nbsp;</label><input style="width:300px;" type="text" id="newtestsetname">&nbsp;
              <span id="addTestsetButton" class="tooltip-button" data-tooltip="Add" onclick="newTestset('{{project.name}}')" style="content:'Add';">
                  <img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>
            <hr>
            </div>
            <script>
              registerClickOnEnter("newtestsetname", "addTestsetButton");
              insertNewSubNavbarItem("testsetElt", "testsetlink", "testsets-list_panel");
            </script>
            <div id="testsets-div"></div>
            <script>
              {% for testset in project.testsets %}
                pageProject.addTestset("{{ testset.name|escapejs }}", "{{ testset.eid |escapejs }}", "{{ testset.description|escapejs }}", "{{ testset.short_name|escapejs }}", {{ testset.n }}, {{ testset.test_repeat }}, {{ testset.time_limit }}, '{{ testset.description_file|escapejs}}'); 
              {% endfor %}
              showTestsets();              
            </script>            
        </div>

        <div id="timers-div" class="content-div">
          <div>
            <div id="timerElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newtimer">Create a new timer: &nbsp; &nbsp;</label><input style="width:300px;" type="text" id="newtimer" onchange="" value="">&nbsp;
              <span id="newTimerButton" class="tooltip-button" data-tooltip="Add" onclick="newTimer('{{project.name}}')" style="content:'Add';">
                  <img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>  
              <hr>            
            </div>
            <script>
              registerClickOnEnter("newtimer", "newTimerButton");
              insertNewSubNavbarItem("timerElt", "timerlink", "timers-list_panel");
            </script>
            <div id="timers-div">
            <script>  
              {% for key, value in project.indicators.items %}
                {% if value.Type == "timer" %}                
                  pageProject.addTimer("{{ key }}","{{ value.Description }}", 
                      "{{ value.Meta.ID }}", "{{ value.Meta.STAT }}");
                {% endif %}            
              {% endfor %}
              showTimers();         
            </script>
            </div>
          </div>
        </div>

        <div id="indicators-div" class="content-div">
            <div id="indicatorElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newindicator">Create a new indicator: &nbsp; &nbsp;</label><input style="width:300px;" type="text" id="newindicator">&nbsp;
              <span id="newIndicatorButton" class="tooltip-button" data-tooltip="Add" onclick="newIndicator('{{project.name}}')" 
                 style="content:'Add';"><img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>  
              <hr>
            </div>
            <script>
              registerClickOnEnter("newindicator", "newIndicatorButton");
              insertNewSubNavbarItem("indicatorElt", "indicatorlink", "indicators-list_panel");
            </script>         
            <div id="indicators-div">
            <script>
              {% for key, value in project.indicators.items %}
                {% if value.Type != "timer" %}
                    pageProject.addIndicator("{{ key }}","{{ value.Description }}", "{{ value.Type }}",
                        "{{ project.source_indicators|get_item:key   |escapejs }}");
                {% endif %}            
              {% endfor %}  
              showIndicators();       
            </script>

            </div>   
        </div>

        <div id="counters-div" class="content-div">
            <div id="counterElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newcounter">Create a new counter: &nbsp; &nbsp;</label><input style="width:300px;" type="text" id="newcounter">&nbsp;
              <span id="newCounterButton" class="tooltip-button" data-tooltip="Add" onclick="newCounter('{{project.name}}')" style="content:'Add';">
                  <img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>   
              <hr>
            </div>
            <script>
              registerClickOnEnter("newcounter", "newCounterButton");
              insertNewSubNavbarItem("counterElt", "counterlink", "counters-list_panel");
            </script>                     
            <div id="counters-div">
            <script>               
              {% for key, value in project.counters.items %}              
                  pageProject.addCounter("{{ key }}","{{ value.Description }}");              
              {% endfor %}  
              showCounters();       
            </script>  
            </div>              
        </div>

        <div id="tools-div" class="content-div">
            <table style="width:100%;">
            <tr>
                <td><textarea id="tools-class" style="display: none;" onchange="contentChanged(changes.other, 'tools')"></textarea>
                    <div class="CodeMirror" id="tools-code-editor"></div>
                </td>
            </tr></table>
            <script>
                initCodeMirrorEditor("tools-code-editor", "tools-class", "{{ project.source_tools |escapejs }}", changes.other, "tools", undefined,undefined,undefined,true);
                setFileContent("tools", "{{ project.source_tools |escapejs }}");                
            </script>
        </div>

        <div id="algorithms-div" class="content-div">
            <div id="algorithmElt-(New)" style="vertical-align:bottom; padding-top:15px; display:none;" class="pEditV">
              <label for="newalgorithmname">Name: &nbsp; &nbsp;</label><input style="width:200px;" type="text" id="newalgorithmname">&nbsp;
              <span id="addAlgorithmButtonB" class="tooltip-button" data-tooltip="Add" onclick="newAlgorithm('{{project.name}}')" style="content:'Add';">
                  <img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
              </span>
              <hr>
            </div>
            <script>
              registerClickOnEnter("newalgorithmname", "addAlgorithmButtonB");
              insertNewSubNavbarItem("algorithmElt", "algorithmlink", "algorithms-list_panel");              
            </script>
            <div id="algorithms-div"></div>
            <script>
            {% for algorithm in project.algorithms %}
                pageProject.addAlgorithm("{{ algorithm.name|escapejs }}", "{{ algorithm.eid|escapejs }}", "{{ algorithm.description|escapejs }}", "{{ algorithm.short_name|escapejs }}", "{{ algorithm.date }}", "{{ algorithm.author }}", "{{ algorithm.language }}", '{{ algorithm.source|escapejs}}', '{{ algorithm.html|escapejs}}'); 
            {% endfor %}
            showAlgorithms();
            </script>            
        </div>

    </div>
</div>

<script>

  let editProjSection = "editProjectSection";
  document.getElementById("editProjectButtons").innerHTML += 
    getOkCancelButtonsHTML(editProjSection, false, "margin-bottom:-10px;margin-right:-10px;");
  wireButton(editProjSection+"_cancel", editProjectSectionCancel, editProjSection);
  wireButton(editProjSection+"_ok",     editProjectSectionSave,   editProjSection);


window.addEventListener('beforeunload', function (event) {
    if (contentModified) {
        // Display a confirmation message when attempting to close the page
        var message = "You have unsaved changes. Are you sure you want to leave?";
        event.returnValue = message;
        return message;
    }
}); 

  
window.onload = window.onresize = function () {
  setEditPageHeight();  
};

  
$('.multiselect').each((function() {
  applySelect2Options(this);
}));  

document.getElementById('menuitems').firstElementChild.click();

</script>
    
    {% else %}
    Can't load project. 
    {% endif %}

</div>