{% load static %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/abcdef.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/eclipse.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/addon/hint/show-hint.css' %}">
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
<script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>

<link href="{% static 'css/select2.css' %}"              rel="stylesheet">
<script type="text/javascript" src="{% static 'js/select2.js' %}"></script> 

<script type="text/javascript" src="{% static 'js/base64.min.js' %}"></script>
 

<link href="{% static 'css/edit.css' %}" rel="stylesheet">

    
<script>
  deleteImgPath = "{% static 'images/delete.png' %}";
  addImgPath    = "{% static 'images/add.png' %}";

  window.CSRF_TOKEN = "{{ csrf_token }}";
</script>

<div style="height: 50px"></div>    


<!-- editProject tabs -->
<div id="tabwrapper_editProject" class="tab-wrapper" style="max-width:100%;"></div>

<div class="innerContent" id="editProjectContent">
  <div id="editOkCancelPanel">
    <div id="editProjectButtons" class="editMode" w="{{ project.eid }} cw" style="display: flex;flex-direction: row-reverse;margin-right: 10px; padding-top: 5px;">
      <i id="edit_editProjectSection" class="far fa-edit icon" onclick="editSection()"></i>
    </div>
  </div>

  <div id=bodydiv style="margin: 5px 10px 0px 10px;">
    {% if project.name != "" %}    
    <div id="intermediate-section">
      <div id="general-list" class="submenuitem">
        <hi>General properties</hi> 
        <span id="generals-list_panel"></span>
      </div>  
       <div id="input-list" class="submenuitem">
        <hi>Algorithm's input</hi> 
        <span id="input-list_panel"></span>
      </div>        
      <div id="output-list" class="submenuitem">
        <hi>Algorithm's output</hi> 
        <span id="output-list_panel"></span>
      </div>      
      <div id="parameters-list" class="submenuitem">
        <div class="sectionTitle">Project parameters</div> 
        <span id="parameters-list_panel">
          <div id="tabwrapper_parameters" class="tab-wrapper" style="max-width:100%;"></div>
        </span>
      </div>
      <div id="generators-list" class="submenuitem">
        <div class="sectionTitle">Generators</div> 
        <span id="generators-list_panel">
          <div id="tabwrapper_generators" class="tab-wrapper" style="max-width:100%;"></div>
        </span>
      </div>
      <div id="timers-list" class="submenuitem">
        <div class="sectionTitle">Timers</div> 
        <span id="timers-list_panel">
          <div id="tabwrapper_timers" class="tab-wrapper" style="max-width:100%;"></div>
        </span>
      </div>
      <div id="indicators-list" class="submenuitem">
        <div class="sectionTitle">Indicators</div> 
        <span id="indicators-list_panel">
          <div id="tabwrapper_indicators" class="tab-wrapper" style="max-width:100%;"></div>
        </span>
      </div>
      <div id="counters-list" class="submenuitem">
        <div class="sectionTitle">Counters</div> 
        <span id="counters-list_panel">
          <div id="tabwrapper_counters" class="tab-wrapper" style="max-width:100%;"></div>
        </span>
      </div>

       <div id="tools-list" class="submenuitem">
        <hi>Tools</hi> 
        <span id="tools-list_panel"></span>
      </div>        
    </div>

    <div id="lower-section">
        
        <div id="general-div" class="content-div"></div>

        <div id="input-div" class="content-div">
            <table style="width:100%;">
            <tr>
                <td><textarea id="input-class" style="display: none;" onchange="contentChanged(changes.other, 'input')"></textarea>
                    <div class="CodeMirror" disabled id="input-code-editor"></div>
                </td>
            </tr></table>
            <script>  
              initCodeMirrorEditor("input-code-editor","input-class","",changes.other,"input",undefined,undefined,undefined,true);
            </script>
        </div>

        <div id="output-div" class="content-div">
            <table style="width:100%;">
            <tr>
                <td><textarea id="output-class" style="display: none;"></textarea>
                    <div class="CodeMirror" id="output-code-editor"></div>
                </td>
            </tr></table>
            <script>  
              initCodeMirrorEditor("output-code-editor","output-class","",changes.other,"output",undefined,undefined,undefined,true);
            </script>
        </div>

        <div id="parameters-div" class="content-div">
          <div id="loading_parameters-div" style="display:block">... loading           </div>
          <div id="no_parameters-div"      style="display:none" >No parameters defined.</div>
          <div id="cont_parameters-div"    style="display:none" ></div>
        </div>

        <div id="generators-div" class="content-div">
          <div id="loading_generators-div" style="display:block">... loading           </div>
          <div id="no_generators-div"      style="display:none" >No generators defined.</div>
          <div id="cont_generators-div"    style="display:none" ></div>
        </div>

        <div id="timers-div" class="content-div">
          <div id="loading_timers-div" style="display:block">... loading           </div>
          <div id="no_timers-div"      style="display:none" >No timers defined.</div>
          <div id="cont_timers-div"    style="display:none" ></div>
        </div>

        <div id="indicators-div" class="content-div">
          <div id="loading_indicators-div" style="display:block">... loading           </div>
          <div id="no_indicators-div"      style="display:none" >No indicators defined.</div>
          <div id="cont_indicators-div"    style="display:none" ></div>
        </div>

        <div id="counters-div" class="content-div">
          <div id="loading_counters-div" style="display:block">... loading           </div>
          <div id="no_counters-div"      style="display:none" >No counters defined.</div>
          <div id="cont_counters-div"    style="display:none" ></div>
        </div>

        <div id="tools-div" class="content-div">
            <table style="width:100%;">
            <tr>
                <td><textarea id="tools-class" style="display: none;" onchange="contentChanged(changes.other, 'tools')"></textarea>
                    <div class="CodeMirror" id="tools-code-editor"></div>
                </td>
            </tr></table>
            <script>  
              initCodeMirrorEditor("tools-code-editor","tools-class","",changes.other,"tools",undefined,undefined,undefined,true);
            </script>            
        </div>
      </div>
  </div>
</div>

<script>
  initImplementationTabs();


  let editProjSection = "editProjectSection";
  document.getElementById("editProjectButtons").innerHTML += 
    getOkCancelButtonsHTML(editProjSection, false, "margin-bottom:-10px;margin-right:-10px;");
  wireButton(editProjSection+"_cancel", editProjectSectionCancel, editProjSection);
  wireButton(editProjSection+"_ok",     editProjectSectionSave,   editProjSection);

  window.addEventListener('beforeunload', function (event) {
    if (contentModified) {
      var message = "You have unsaved changes. Are you sure you want to leave?";
      event.returnValue = message;
      return message;
    }
  }); 

  window.onload = window.onresize = function () {
    setEditPageHeight();  
  };

  
$('.multiselect').each((function() {
  applySelect2Options(this);
}));  

</script>


{% else %}
Can't load project.
{% endif %}
