{% load static %}

<script src="{% static 'js/problems/draggable.js' %}"></script>
<script src="{% static 'js/problems/presenter.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/problems/draggable.css' %}">

  <div class='w3-container' id='newPresenter' style='display: none;'></div>
  <div class="w3-container" id='presenters'><div id="results-top"></div></div>

<script>
{% if presentersDataDICT|length == 0 %}
  document.getElementById("presenters").innerHTML = "<div id='nopresenters'>No presenters currently available.</div>";
{% else %}
  {% for presenterDICT in presentersDataDICT %}
    {% with pName=presenterDICT.Name %}
      document.getElementById("presenters").innerHTML += getPresenterDivHtml("{{ pName }}", "{{presenterDICT.Title}}", true, false);
      {% for row in presenterDICT.Layout %}
        document.getElementById("views_{{ pName }}").innerHTML += 
          '<div class="w3-row" id="{{pName}}_{{forloop.counter}}_container"></div>';
        {% for cell in row %}
          document.getElementById("{{pName}}_{{forloop.parentloop.counter}}_container").innerHTML 
            += getViewOuterHtml("{{pName}}","{{cell}}");
          createNewView('{{ pName }}', '{{ cell }}');
        {% endfor %}
      {% endfor %}
      document.getElementById("myPlusDropdownIcon_{{ pName }}").addEventListener("click", function() {
         var dropdownContent = document.getElementById("myPlusDropdownContent_{{ pName }}");
         dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
      });    
      document.getElementById("myPlusDropdownContent_{{ pName }}").innerHTML += 
        getViewsDropDownItems('{{ pName }}');
    {% endwith %}
  {% endfor %}
{% endif %}



document.addEventListener('DOMContentLoaded', function() {
  fillReportData('{{ project.name }}')
});
</script> 

                  