<font size="+1">
<div class="container-fluid">
<div class="row">
<div class="col-sm-12">
<ul class="breadcrumb">
  <li>
 	 <a href="{% url 'problems:pdetails' %}?project={{ project.name }}">
	 	   {{ project.name }}
 	 </a> 
  </li>
  <li>
	 	   {{ presenter.name }}
  </li>
 	 <div class="btn-group">
       <!--span type="button" class="dropdown-toggle glyphicon glyphicon-circle-arrow-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span-->

       <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
          <span class="glyphicon glyphicon-chevron-down btn-sm" style="color:#aacc4e;"  aria-hidden="true"></span>
        </span>

<!--span type="button" class="dropdown-toggle glyphicon glyphicon-circle-arrow-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span-->

       <div class="dropdown-menu">
       	 {% for key,pres in project.presenters.items %}
           <a class="dropdown-item" href="{% url 'vision:openPresenter' %}?project={{ project.name }}&presenter={{ key }}&param={{ param }}">{{ key }}</a><br>
       	 {% endfor %}
       </div>
    </div>  
</ul>
</div>
<!--div class="col-sm-3 breadcrumb" style="padding-left: 0;">  
    <div class="text-right">
     <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

      <div id="labSave">
        <font size="-1"><a href="#" onclick="chartEditor.save();">Save</a></font>
      </div>
      &nbsp;
    </div>
</div-->                  
</div>
</div>
</font>