{% extends "base.html" %}
{% load static %}

{% block content %}

<script>
    var currentPath = window.location.pathname;
    let url = '{% url 'main:pAskServer' %}';
    let projectName = '{{ project.name }}'
    let projectEID  = '{{ project.eid }}'

    let projectComputers  = {{project.Computers|safe}};

</script>

<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" href="{% static 'css/problems/problem.css' %}">

<script src="{% static 'js/upload.js' %}"></script>
<script src="{% static 'js/math.min.js' %}"></script>
<script src="{% static 'js/problems/algatorData.js' %}"></script>
<script src="{% static 'js/main/main.js' %}"></script>
<script src="{% static 'js/edit.js' %}"></script>
<script src="{% static 'js/problems/problem.js' %}"></script>


<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body>
<!-- Left toolbar -->
<div class="left-toolbar">
{% include "sidebar.html" %}
</div>

<!-- Top toolbar -->
<div class="top-toolbar">
{% include "problemNavbar.html" %}
</div>

<div id='main'>
    <div id="projectDescription" style="display: block;">
        <div id="projectDescription-top"></div>
        {% include "projectDescription.html" %}
    </div>
    <div id="editProject" style="display: none;">
        <div id="editProject-top"></div>
        {% include "editProject.html" %}
    </div>
    <div id="results" style="display: none;">
        {% include "results.html" %}
    </div>
    <div id="awResults" style="display: none;">
        {% include "awresults.html" %}
    </div>
    <div id="testsets" style="display: none;">
        <div id="testsets-top"></div>
        {% include "testsets.html" %}
    </div>
    <div id="algorithms" style="display: none;">
        <div id="algorithms-top"></div>
        {% include "algorithms.html" %}
    </div>
    <div id="playground" style="display: none;">
        <div id="playground-top"></div>
        {% include "playground.html" %}
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("projectNameSpan").innerHTML = "{{ project.name}}" + (printEID ?  " [{{ project.eid }}]":"");
  showSectionSideNavbar("projectDescription");  
});
</script>


{% endblock %}