{% load static %}

<link rel="stylesheet" href="{% static 'css/problems/tooltip.css' %}">
<script src="{% static 'js/problems/tooltip.js' %}"></script>
<div id="mySidebar" style="width: 200px;">

  <div class='row' style="height:50px; display:inline-block;" {% if homepoint %} onclick="redirectToUrlWithPathAndParams('{%if next%}{{next}}{%else%}/projects{%endif%}', {'homepoint':true}, false)" {% endif %}>
    <img  class='wide imgA' id='img1' src="{% static 'images/logo_large_notext.png' %}"  alt="ALGator"  
       style="width:76px; {% if not homepoint %} cursor:default;{% endif%}">
    <img  class='slim imgA' id='img2' src="{% static 'images/algator_icon.png' %}" alt="ALGator" 
       style="width:32px; display: none;{% if not homepoint %} cursor:default;{% endif%}">
  </div>

  <div id="problemNavbarMenuButton" class='row'>
    <p class='sideBarEl wide' onclick="toggleSidebar()" onclick="slimElements()" style="position: fixed; top:-14px; left:160px;">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </p>
    <p class='sideBarEl slim' onclick="toggleSidebar()" onclick="slimElements()"  style="position:fixed"
       data-tooltip="MENU" onmouseover="showTooltip(event)" onmouseout="hideTooltip()">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </p>
  </div>
  
  <!-- vertical gap to prevent icon overlap and obtain same sidebar height in slim and wide mode-->
  <span class="slim" style="height:82px; display: none;"></span>

</div>

<script> 
  async function updateSidebar() {
    const sidebarHTML = await getSideBarItemsHTML(numberOfTopItems);
    document.getElementById("mySidebar").innerHTML += sidebarHTML;
  }
  updateSidebar();

  createTooltip();
</script>