{% extends 'base.html' %}

{% block body_block %}

{% include 'ppasica.html' %}

<div id="wrapper">
{% with "true" as proj_techdetails %}       
{% include 'problem_menu.html' %}
{% endwith %}     


<div id="page-wrapper" style="border-left: 0px">

<div role="tabpanel" class="tab-pane active" id="basicinformation{{ project.name }}">


<div class="panel-group" id="techdetails-accordion{{ project.name }}" role="tablist" aria-multiselectable="true">


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#techdetails-accordion{{ project.name }}" href="#input{{ project.name }}" aria-expanded="true" aria-controls="input{{ project.name }}">
            {{ project.source_input_name }}
        </a>
      </h4>
    </div>
    <div id="input{{ project.name }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% load pygmentify %}
        {% pygment %}
        <pre lang="java">
{{ project.source_input|safe }}
        </pre>
        {% endpygment %}
      </div>
    </div>
  </div>


<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#techdetails-accordion{{ project.name }}" href="#output{{ project.name }}" aria-expanded="false" aria-controls="output{{ project.name }}">
            {{ project.source_output_name }}
        </a>
      </h4>
    </div>
    <div id="output{{ project.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% load pygmentify %}
        {% pygment %}
        <pre lang="java">
{{ project.source_output|safe }}
        </pre>
        {% endpygment %}
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#techdetails-accordion{{ project.name }}" href="#testCase{{ project.name }}" aria-expanded="false" aria-controls="testCase{{ project.name }}">
            {{ project.source_testcase_name }}
        </a>
      </h4>
    </div>
    <div id="testCase{{ project.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% load pygmentify %}
        {% pygment %}
        <pre lang="java">
{{ project.source_testcase|safe }}
        </pre>
        {% endpygment %}
      </div>
    </div>
  </div>


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#techdetails-accordion{{ project.name }}" href="#absalgorithm{{ project.name }}" aria-expanded="false" aria-controls="absalgorithm{{ project.name }}">
          {{ project.source_algorithm_name }}
        </a>
      </h4>
    </div>
    <div id="absalgorithm{{ project.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% load pygmentify %}
        {% pygment %}
        <pre lang="java">                
{{ project.source_algorithm|safe }}
        </pre>
        {% endpygment %}        
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#techdetails-accordion{{ project.name }}" href="#tools{{ project.name }}" aria-expanded="false" aria-controls="tools{{ project.name }}">
          {{ project.source_tools_name }}
        </a>
      </h4>
    </div>
    <div id="tools{{ project.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% load pygmentify %}
        {% pygment %}
        <pre lang="java">                
{{ project.source_tools|safe }}
        </pre>
        {% endpygment %}        
      </div>
    </div>
  </div>

</div>
</div> 

</div>
</div>
{% endblock %}
