{% extends 'base.html' %}

{% block body_block %}

{% include 'apasica.html' %}

<div id="wrapper">   
{% with "true" as txtresults_menu %}     
{% include 'algorithm_menu.html' %}
{% endwith %}



<div id="page-wrapper" style="border-left: 0px">

<div role="tabpanel" class="tab-pane active" id="basicinformation{{ project.name }}">


<div class="panel-group" id="txtresults-accordion{{ project.name }}{{ algorithm.name }}" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#txtresults-accordion{{ project.name }}" href="#testCase{{ project.name }}" aria-expanded="true" aria-controls="testCase{{ project.name }}">
          File: 
          <span id="txtResultTitle">
            {{ firstTitle }}
          </span>
        </a>
      </h4>
    </div>
    <div id="testCase{{ project.name }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" id="txtResultCont" style="overflow-x:scroll; white-space: nowrap;">
        {{ firstCont }}
      </div>
    </div>
  </div>


</div>
</div> 

</div>
</div>
{% endblock %}
