@import "../afont.css";


.background{
    background-color: rgb(238, 237, 237);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.box{
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    margin: 5px;
    padding: 10px;
}

label{
    font-family: customFont;
}

#QEgraphSettings{
    font-size: 18px;
    font-family: customFont;
}
#QEgraphSettings:hover{
    color: #27ae60;
    cursor: pointer;
}
#QEgoBack{
    font-size: 18px;
    font-family: customFont;
}
#QEgoBack:hover{
    color: #27ae60;
    cursor: pointer;
}