
.myCard{
    margin: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f5f9f0;
}
.myCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.myContainer{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.cardHeader {
    color: #27ae60; 
    font-size: 27px;
    margin-bottom: 10px;
    font-family: customFont;
}
.cardHeader:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cardDesc{
    font-family: Arial;
    font-size: 18px;
    text-align: justify;
    color: #333; 
    line-height: 1.5;
    margin-bottom: 15px;
 }

.card-meta {
    font-size: 14px;
    color: #565;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card-tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card-tag {
    background: #889988;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    margin:0 5px;
}


.mu {
    background-color: rgba(255, 223, 88, 0.4); 
    color: #404040; 
    font-weight: bold; 
    padding: 2px 0px; 
    border-radius: 6px; /* Smooth edges */
}

.p-search-panel {
    display: none;
    align-items: baseline;
    height:55px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 10px;
    xbackground-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.p-search-panel select {
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
}
.search-input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
    outline: none;
}
.search-input:focus {
    border-color: #999;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.5);
}