
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.panel{
    font-family: "Courier New", Courier, monospace; 
    font-size: 14px; 
    margin-bottom: 0px;  
}

div.elt {
  margin: 1px;
  background-color: rgb(245,245,245);
} 

.vpis {
	border: 0;
}
.vpis:focus{
   outline: 1px solid rgba(255,255,255,1);
}

.myBtn {    
    width:25px;
    height:15px;
    margin:0px;
    border-radius:2px;
    -webkit-border-radius:7px;
    text-align: center;  
    line-height: 3px;   
}

#mydragbar {
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    cursor: row-resize;
    opacity: 0;
}


/* ****************** File tree ********************* */
#treeNUL, #treeUL {
  list-style-type: none;
}
#treeUL {
  margin: 0;
  padding: 0;
  color:  skyblue;
  height: 100%;
  overflow:auto;
  border-right: 1px solid #777;
}
.treeNLI {
    display: inline-block;
    white-space: nowrap; 
    margin-left:10px;
}
.treeALI {
    white-space: nowrap;
    cursor: pointer;
    color: springgreen;
}
.treeALI:hover {
    text-decoration: underline;
}
.tabli-cont {
    display: list-item; 
    height: 100%;
}
.treeCaret {
  cursor: pointer;
}
.treeCaret::before {
  content: "\1F5C0";
  color: white;
  display: inline-block;
  margin-right: 6px;
}
.treeCaret-down::before {
  content: "\1F5C1";
}
.treeNested {
  display: none;
}
.treeActive {
  display: block;
}
    
/* ****************** Tabbed pane ************************* */
.tabs {
  margin: 4px;
  padding: 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #777;
  display: inline;
}
.tabs .active-tab {
  color: palegreen;
}
.tabs li {
  display: inline-block;
  cursor: pointer;
  border-right: 1px solid #777;
  color: #3a5ea7;
  padding: 0px 10px;
  color: seashell;
  height: 15px;
}
.tabs li:first-child {
  margin-left: 0px;
}
.tabs-content {
  margin:   0px;
  padding: 0;
  list-style: none;
  border-top: 1px solid lightgray;
}
.tabs-content li {
  display: none;
}

.closeTab {
  width: 16px;
  height: 16px;
  margin: 0 0 0 14px;
  padding: 3px;
  border-radius: 16px;
  line-height: 16px;
  text-align: center;
  display: inline-table;
  color: burlywood;
}
.closeTab:hover  {
  background: #505050;
}
.closeTab:hover span {
  display: none;
}

.closeTab:hover:before {
  content: 'x';
  color: white;
}


.closeTabO {
    color: brown;
}


/* ************************* Tooltips *********************** */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*** Results array */
.tdResUp {
  width:120px; 
  vertical-align: top;
}
.tdRes {
  padding: 3px 5px 3px 5px;
  vertical-align: top;
}
.tdResLast {
  padding: 3px 5px 3px 5px;
  width:100%; 
}
.trRes:nth-child(even) {
  background-color: #EEEEEE;
}
.trRes:nth-child(odd) {
  background-color: #E0E0E0;
}
.rFile:hover {
  text-decoration: underline;
  cursor: pointer;  
}

.resTab {
  width: 100%;
}
.resTD {
  border: 1px solid #ccc;
}

.spanSH:hover {
  text-decoration: underline;
  cursor: pointer;  
}

.highlightedRow {
  background-color: lightsteelblue;
}

/* ************************* Confirmation dialog *********************** */
.cd-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.cd-confirm-box {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 40%;
  left: 40%;
  text-align: center;
  background: white;
}
.cd-close {
  text-align: right;
  margin: 5px 10px 0 0;
  cursor: pointer;  
}