<div class="row">
    <div class="col-md-12 c-panel"> <!-- right side panel -->
        <div class="row">
            <div class="col-md-12">
                    X: <select class="form-control x-selector"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Y: <br>                
                  <input type="text" id="yAxesInput" style="width: 100% !important;" class="y-selector">                                  
                </ul-->
            </div>
        </div>
    </div>
</div>