{% load static from staticfiles %}

{% block head %}    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/bootstrap.min.css' %}"        rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}"  rel="stylesheet">
    <link href="{% static 'css/algatorweb.css' %}"           rel="stylesheet">
    <link href="{% static 'css/select2.css' %}"              rel="stylesheet">
    <link href="{% static 'css/c3.css' %}"                   rel="stylesheet">


    <script type="text/javascript" src="{% static 'js/d3.js' %}" charset="utf-8"></script>        
    <script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script>        

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script>  
{% endblock %}

{% block body %}
    <div id="{{ chartid }}" class="chart"> 
    </div>

<script>  
var url = "{% url 'cpanel:askServer' %}?q=getQueryResult%20{{ project }}%20{{ query }}%20{{ params }}";  //request url

$.ajax({
  url: url,
  dataType: 'json',
}). done(function (response) {  
  var answer = response.answer;

  data = queryEditor.parseResponse(answer);
  if (data.length > 0) {
    chartEditor.drawChart(data, "ID", ["*.m"], "#{{ chartid }}", 
      { zoom: true,         //zoom enabled
        type: "step",       //chart type
        subchart: false,    //don't show subchart
        gridx: false,       //x grid lines
        gridy: false        //y grid lines
      });  
  } else {
    chartEditor.unload();
  }
  
});
</script>

{% endblock %}	


