{% load static %}

{% block body %}
  <span class="glyphicon glyphicon-arrow-down" style="position:absolute; right:15px; color: lightskyblue; cursor:pointer;" onclick="newSavedGraph(0,0,0);"></span>              
  <div class="panel-body" id="mcOuter">
    <div class="row">        
        <div class="col-md-12">
            <div class="row">
                <div id="main_chart" class="chart">
                </div>
            </div>
        </div>    
    </div>    
  </div>   

<script>
class Graph {

  static get QUERY_TYPE()  { return "QueryType"; }    // graf, za katerim "stoji" query
  static get DATA_TYPE()   { return "DataType";  }    // graf, ki ima samo podatke (ni poizvedbe, podatki so fiksni)


  constructor(id, type, desc, query, settings, data) {
    this.id        = id;
    this.type      = type;
    this.desc      = desc;
    this.query     = query;
    this.settings  = settings;
    this.data      = data;
  }
}

  savedID = 0;
  graphs = {};  // all current graphs
  

  // nov div z grafom; tip==0 ... gre za graf, ki je nastal iz querija, tip==1 ... graf je nastal z združevanjem dveh
  // first in second uporabim samo pri tip==1 in predstavljata prvi in drugi graf, ki ju združujem
  function newSavedGraph(tip, first, second) {
    savedID++;

    var cont = '  \
      <div id="sgDiv_hID_" class="panel">\
        <hr style="margin: 0px;">\
        <table width=100%>\
        <tr><td style="width:30px; vertical-align: top;">#_hID_</td>\
        <td width=80%><span id="desc_hID_"></span></td>\
        <td style="width:100px; vertical-align: top;">\
          <span style="float: right;">\
            <span class="glyphicon glyphicon-edit" onclick="editDiv(_hID_);" style="cursor:pointer;color:lightskyblue;"></span>\
            <span class="glyphicon glyphicon-save" onclick="saveDiv(_hID_);" style="cursor:pointer;color:lightskyblue;"></span>\
            <span class="glyphicon glyphicon-trash" onclick="deleteDiv(_hID_);" style="cursor:pointer;color:lightskyblue;"></span>\
            <span class="glyphicon glyphicon-random" onclick="zdruzi(_hID_);" style="cursor:pointer;color:lightskyblue;"></span>\
            <span class="glyphicon glyphicon-arrow-up" onclick="obnovi(_hID_);" style="cursor:pointer;color:lightskyblue;"></span>\
          </span>\
        </td></tr></table>\
        <div style="padding:0px;" id=savedGraph-_hID_></div>\
      </div>\
    ';
    cont = cont.replace(/_hID_/g, savedID);
    $("#graphsCopy").append(cont);
    
    if (tip==0) { // graf iz poizvedbe    
      var cGrahp= new Graph(
        savedID, Graph.QUERY_TYPE, "", 
        queryEditor.getQuery(), 
        JSON.stringify(chartEditor.getDefaultSettings()), 
        chartEditor.getGraphData()
      );
      graphs[savedID] = cGrahp;    
      var dest = document.getElementById("savedGraph-" + savedID);
      var src=document.getElementById("mcOuter");   
      dest.appendChild(src.cloneNode(true));      
    
    } else { // graf po združevanju dveh
      graf1 = graphs[first];
      graf2 = graphs[second];

      if (graf1!=null && graf2!=null && graf1.data != null && graf2.data != null) {

        var x1 = graf1.data.length;
        var x2 = graf2.data.length;
        if (x1 != x2) {
          alert("Can not merge graphs - different number of columns");
          return;
        }

        var xA1 = graf1.data[0][graf1.data[0].length-1];
        var xA2 = graf2.data[0][graf2.data[0].length-1];
        if (xA1 != xA2) {
          alert("Can not merge graphs - different labels of the X axis");
          return;
        }       

        var cGrahp= new Graph(
          savedID, Graph.DATA_TYPE, "", 
          null, 
          JSON.stringify(graf1.settings), 
          joinData(graf1.data, graf2.data)
        ); 
        var graphDiv = '<div id="graphPanel-'+savedID+'" class="chart c3" style="height: 320px; position: relative;"></div>'
        $("#savedGraph-"+savedID).append(graphDiv);        
        var chart = drawGraph('#graphPanel-'+savedID, JSON.parse(graf1.settings), graf1.data);
        addColumns(chart, JSON.parse(graf2.settings), graf2.data);
        graphs[savedID] = cGrahp;    
      }
    }       
  }

  // to sem dodal, ne vem, če je OK. 
  function joinData(data1, data2) {
    var rTab = new Array();
    for(i=0; i<data1.length; i++) {
      rTab[i] = new Array();
      rTab[i][0] = data1[i][0];
      rTab[i][1] = data2[i][0];
      rTab[i][2] = data1[i][1];
    }
    return rTab;
  }

  function deleteDiv(id) {
    delete graphs[id]; 

    $( "#sgDiv"+id ).remove();
  }

  function editDiv(id) {   
    var graph = graphs[id];
    if (graph != null) { 
      var trDesc  = graph.desc;
      var newDesc = prompt("Enter graph description", trDesc);
      if (newDesc!=null) {
        graph.desc = newDesc;
        $("#desc"+id).text(newDesc);
      }
    }
  }

  function zdruzi(id) {    
    // get all graphs
    var keys = Object.keys(graphs);

    // remove myself
    const index = keys.indexOf(id.toString());
    if (index > -1) {
     keys.splice(index, 1);
    }

    if (keys.length > 0) {
      var id2 = prompt("Graphs to merge with: [" + keys + "]\n\nMerge with graph:", keys[0]);
      if (id2 != null) {
        newSavedGraph(1, id, id2);
      }
    } else {
      alert("No graphs to join with.");
    }
  }  

  function obnovi(id) {  
    var graph = graphs[id];
    if (graph != null) {       
      queryEditor.setQuery(graph.query, "");   
      chartEditor.setSettings(graph.settings);     
    }
  }    

  function drawGraph(divID, settings, curData) {
  
    var xAxisType = '';
    if (settings.categoryLabels) xAxisType = 'category';

    var chart = c3.generate({
        data: {
            x: settings.xAxis + " ",                          
            rows: curData,
            type: settings.graphType
        },

        bindto: divID,
        zoom: {
            enabled: settings.zoom
        },
        
        subchart: {
            show: settings.subchart
        },
        legend: {
            show: true,
            position: "right"
        },
        grid: {
            x: {
                show: settings.gridX
            },
            y: {
                show: settings.gridY
            }
        },
        transition : {
            duration: 500
        },
        axis : {                
            x: {
                label: {
                    text: settings.xAxisTitle,
                    position: 'outer-center'
                },
                type: xAxisType,
                tick: {
                    fit: settings.categoryLabels
                }
            },
            y: {
                label: {
                    text: settings.yAxisTitle,
                    position: 'outer-middle'
                }
            }
        }
    });
    return chart;

  //  return chartEditor.drawChart(curData, divID, settings).chart;
  }

  function addColumns(chart, settings, data) {
    chart.load({
        rows: data,
        type: settings.graphType
    });    
  }


  </script>
{% endblock %}
