{% extends "visionBase.html" %}


{% block body %}
	<div class="container">
		<ol class="breadcrumb">
            <li><a href="">Projects</a></li>
        </ol>   

        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">
                        <p class="text-center"><h5 class="text-center">{{ error }}</h5></p>
                </div>
            </div>
        </div><br>
        {% if parameters %}
        <div class="row">
        	<div class="col-md-12">
            {% for key in parameters %}
        		<p><strong>{{ key }}:</strong> {{ parameters|get_item:key }}</p>
            {% endfor %}
        	</div>
        </div>
        {% endif %}
        {% if stack_trace %}
        <div class="row">
            <div class="col-md-12">
                <p><pre style="background-color: #eee; border: 1px dashed black">{{ stack_trace }}</pre></p>  
            </div>
        </div>
        {% endif %}
	</div>
{% endblock %}