<!--{% extends 'base.html' %}-->

{% load static from staticfiles %}

{% block body_block %}

    <link href="{% static 'css/bootstrap.min.css' %}"        rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}"  rel="stylesheet">
    <link href="{% static 'css/select2.css' %}"              rel="stylesheet">
    <link href="{% static 'css/style.css' %}"        rel="stylesheet">
    <link href="{% static 'css/algatorweb.css' %}"        rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/select2.js' %}"></script>    

    <link href="{% static 'css/c3.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/d3.js' %}" charset="utf-8"></script>        
    <script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script>        
    <script type="text/javascript" src="{% static 'js/FileSaver.min.js' %}"></script>        
    <script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script>        
        


<div id="pasica">
{% include 'prepasica.html' %}
</div>

<div id="mCanvas" class="container-fluid">
   
   <div class="row">
       <div class="col-md-12" style="text-align: right">
         <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
           <div id="labSave">
             <font size="-1"><a href="#" onclick="chartEditor.save();">Save</a></font>
           </div>                 
       </div>
   </div>

   <div class="row">
       <div id="mGraf" class="col-md-5">
        {% include 'queryEditor.html' %}
       </div>   
       <div class="col-md-7">
           <div class="chart-panel panel panel-default"> 
             {% include 'chartPanel.html' %}
           </div>
           <div id="mSet" class="chartControl-panel panel panel-default"> 
             <div class="col-md-9">
               {% include 'axesPanel.html' %}
             </div>
             <div class="col-md-3">
               {% include 'settingsPanel.html' %}                    
             </div>
           </div>                
       </div>
   </div>     
</div> 

<script>
    
    $(document).ready(function() {                      
        $(window).resize(function () {
            $("#chart").css("max-height", "");
        });    //on window resize

        var projectName = document.title;
        queryEditor.init("{{ project.name }}");   //initialize components
        chartEditor.init("#chart");

        var hideQueryEditor = util.getParameterFromURL("hideEditor");    //check if hideEditor parameter was used
        if (hideQueryEditor === "true") {
            chartEditor.toggleQueryEditor();
        }
        var stsSafe = '{{ presenter.settingsCont | safe }}';
        if (stsSafe == '') stsSave = '{}';
        var settings  = stsSafe.replace(/_!!_/g, '"').replace(/_!_/g, "'");

        var qSafe = '{{ presenter.queryCont | safe }}';
        if (qSafe == '') qSave = '{}';
        var query  = qSafe.replace(/_!!_/g, '"').replace(/_!_/g, "'");
        
        var param         = '{{ param }}';

        var settingsH = JSON.parse(settings);
        settingsH.projName      = '{{ project.name }}';
        settingsH.presenterType = '{{ presenter.tip }}';
        
        if (query !== "") {
            queryEditor.setQuery(query, param);        
        }   
        if (settings !== "") {
           chartEditor.setSettings(settingsH); 
        }
    });



    $( document ).ready(function() {
        resizeCanvas();          
    });
    $( window ).resize(function() {
      resizeCanvas();          
    });

    resizeCanvas = function() {
      //$("#mCanvas").height($( window ).height() - $("#mCanvas").position().top - 5);

      //var newTop = $("#mCanvas").height() - $("#mSet").height() - 30;
      //$("#mSet").parent().css({position: 'relative'});
      //$("#mSet").css({ top:  newTop + 'px', width: '90%', position:'absolute'});

    }

</script>


{% endblock %}

