{% extends "visionBase.html" %}


{% load static %}


{% block body %}
<style>
    .panel-heading {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5px;
        
    }
    
    .panel {
        margin-bottom: 10;
    }
</style>
    <div class="query-editor panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Algorithms</div>                        
                            <select class="multiselect" id="AlgSelect" multiple="multiple" style="width: 100%;">  
                              <option value="*" data-value="*">*</option>  
                              {% for algorithm in project.algorithms %}
                                <option value="{{ algorithm }}" data-value="{{ algorithm }}">{{ algorithm }}</option>
                              {% endfor %}
                            </select>                        
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">TestSets</div>
                          <select class="multiselect" id="TSSelect" multiple="multiple" style="width: 100%;">    
                            <option value="*"  data-value="*">*</option>
                            {% for testset in project.testsets %}
                              <option value="{{ testset }}"  data-value="{{ testset }}">{{ testset }}</option>
                            {% endfor %}
                          </select>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Parameters
                          <div class="pull-right" data-toggle="modal" data-target="#helpParams" style="cursor: pointer;">?</div>
                          <div class="modal" id="helpParams" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <p>Try to type:</p>
                                  <pre>
TC_PROPS
TC_PROPS AS P
TC_PROPS.Type AS T
double TC_PROPS.DORDER AS O
                                  </pre>
                                </div>
                              </div>      
                            </div>
                          </div>  
                        </div>
                          <select class="multiselect" id="InParamSelect" multiple="multiple" style="width: 100%;"> 
                            <option value="*"  data-value="*">*</option>   
                            {% for param in params.Parameters %}                              
                              <option value="{{ param }}"  data-value="{{ param }}">{{ param }}</option>                            
                            {% endfor %}
                          </select>                            
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">Indicators
                        <div class="pull-right" data-toggle="modal" data-target="#helpIND" style="cursor: pointer;">?</div>
                        <div class="modal" id="helpIND" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <p>Try to type:</p>
                                <pre>
CMP+SWAP AS X1
                                </pre>
                              </div>
                            </div>      
                          </div>
                        </div>  
                      </div>

                           <select class="multiselect" id="OutParamSelect" multiple="multiple" style="width: 100%;">   
                           <option value="*EM"  data-value="*EM" >*EM </option>
                           <option value="*CNT" data-value="*CNT">*CNT</option>
                           <option value="*JVM" data-value="*JVM">*JVM</option> 
                             {% for param in params.Indicators %}
                                <option value="{{ param }}"  data-value="{{ param }}">{{ param }}</option>                            
                             {% endfor %}
                           </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
<table width=100%>
<tr><td>
  <label for="text-Filter" class="control-label">Filter:</label>

  <div class="pull-right" data-toggle="modal" data-target="#helpGroupby" style="cursor: pointer;">?</div>
                          <div class="modal" id="helpGroupby" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content" style="width:1000px;">
                                <div class="modal-body">
                                  <p>Examples:</p>
                                  <pre>
N < 1000
O == 0.5 & N < 80000
                                  </pre>
                                </div>
                              </div>      
                            </div>
                          </div>  

</td>
<td>
  <input type="text" class="form-control" id="text-Filter">
</td>
<td>
  <label for="checkbox-count" class="control-label">&nbsp;&nbsp;Count</label>
</td>
<td>
<input type="checkbox" class="form-control" style="width:15px;height:15px;" id="checkbox-Count">
</td>
</tr>
<tr><td>
<label for="text-GroupBy" class="control-label">GroupBy:</label>  

  <div class="pull-right" data-toggle="modal" data-target="#helpGroupby" style="cursor: pointer;">?</div>
                          <div class="modal" id="helpGroupby" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content" style="width:1000px;">
                                <div class="modal-body">
                                  <p>Examples:</p>
                                  <pre>
N   ... group by field n
N,T ... group elements with the same value of fields N and T
N:-;MAX ... when sorting data, use descending order; when squeezing fields, obtain the one with the maximal value
N,T;Tmin:FiRST; MIN ... group elements by N and T; field Tmin squeeze by FIRST, other fields by MIN

Note: if parameter is not accepted (because it has the same prefix as another parameter)
      try to add a space at the begining (i.e. " N" instead of "N")
                                  </pre>
                                </div>
                              </div>      
                            </div>
                          </div>  

</td>
<td>
  <select class="multiselect" id="text-GroupBy" multiple="" style="width: 100%;"  >
</select>
  <!--input type="text" class="form-control" id="text-GroupBy"-->
</td>


<td>
  <label for="text-compID" class="control-label">&nbsp;&nbsp;ComputerID:</label>
</td>
<td>
  <input type="text" class="form-control" id="text-compID">
</td>
</tr>
<tr><td>
  <label for="text-SortBy" class="control-label">SortBy:</label>
</td>
<td>
  <input type="text" class="form-control" id="text-SortBy">
</td></tr>
</table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-query">
                              Query
                            </a>
                            <img class="clickable download-query" src="{% static 'img/save.png' %}">
                          </h4>
                        </div>
                        <div id="collapse-query" class="panel-collapse collapse">
                          <div class="panel-body small-panel">
                            <pre class="no-style pre-query-text"></pre>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default" id="tablediv">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-data">
                              Data
                            </a>
                            <img class="clickable download-data" src="{% static 'img/save.png' %}"/>  
                            <img class="clickable dispatch-data" src="{% static 'img/dispatch.png' %}"/>
                            <img src="{% static 'img/fullscreen.png' %}" style="cursor:pointer" onclick="openFullscreen()"/>
                            <span style="float:right;" id="tblstatus">[Empty]</span>
                          </h4>
                        </div>
                        <div id="collapse-data" class="panel-collapse collapse in">
                            <div class="panel-body" style="overflow: scroll;_height: 370px;" id="tableDiv">
                                <table class="table table-hover table-condensed" id="alg-data-table">
                                  <!-- za lepši izgled tabele: poglej na http://tabulator.info/ -->
                                </table>                                
                            </div>                            
                        </div>                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>  

function openFullscreen() {
  var wi = window.open();
  var html = $("#collapse-data").html();
  $(wi.document.body).html(html);
}

  $(function(){
    $('.multiselect').select2(
      {
        allowRepetitionForMultipleSelect: true,
        placeholder: "Izberi ...",            

        tags: true,
        tokenSeparators: ['!'],
      }    
    );
  });
</script>

{% endblock %}



