<div class="row">
    <div class="col-md-12">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item clickable" id="button-chart-data" data-toggle="modal" data-target="#chart-data-modal">Data</li>
                    <li class="list-group-item clickable" data-toggle="modal" data-target="#chart-settings-modal">Settings</li>
                    <li class="list-group-item"> 
                        <button type="button" class="btn btn-primary px-3" onclick="chartEditor.setGraphType('line');"><i class="fab fa-android" aria-hidden="true"></i></button>                           
                            <button type="button" class="btn btn-success px-3" onclick="chartEditor.setGraphType('bar');"><i class="far fa-thumbs-up" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info px-3" onclick="chartEditor.setGraphType('area');"><i class="fas fa-tint" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-warning px-3" onclick="chartEditor.setGraphType('3d');"><i class="fas fa-bolt" aria-hidden="true"></i></button>
                    </li>
                    <!--script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
                    <li class="list-group-item clickable" onclick="chartEditor.save();">Save</li-->
                </ul>
            </div>
</div>



<div class="row">       <!-- Modal dialogs -->
    <div class="modal fade" id="chart-settings-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chart Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "zoom" data-value="zoom" checked>Zoom (use mouse wheel)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "subchart" data-value="subchart">Show subchart
                        </label>
                    </div>                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "gridX" data-value="gridX" checked>Show x grid lines
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "gridY" data-value="gridY" checked>Show y grid lines
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "logScale" data-value="logScale">Logarithmic scale
                        </label>
                    </div>                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "categoryLabels" data-value="categoryLabels">Use category labels
                        </label>
                    </div>           
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "HasGraph" data-value="HasGraph">Presenter has graph
                        </label>
                    </div>           
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id = "HasTable" data-value="HasTable">Presenter has table
                        </label>
                    </div>           

                    <div>
                       Graph type
                        <select class="form-control" id="graphType" name="graphType">
                          <option id="line"  value="line">Line chart</option>
                          <option id="bar"   value="bar">Bar chart</option>
                          <option id="area"  value="area">Area chart</option>
                          <option id="pie"   value="pie">Pie chart</option>
                          <option id="donut" value="donut">Donut chart</option>
                          <option id="other" value="other">Other...</option>
                        </select>
                    </div>


                    <div class="text">
                        <label>
                            Graph title &nbsp;&nbsp;<input type="text" name="Title" id="Title" data-value="Title" />
                        </label>
                    </div>
                    <div class="text">
                        <label>
                            Graph short title &nbsp;&nbsp;<input type="text" name="ShortTitle" id="ShortTitle" data-value="ShortTitle" />
                        </label>
                    </div>
                    <div class="text">
                        <label>
                            Display columns &nbsp;&nbsp;<input type="text" name="Columns" id="Columns" data-value="Columns" />
                        </label>
                    </div>


                    <div class="text">
                        <label>
                            X axis label &nbsp;&nbsp;<input type="text" name="xAxisTitle" id="xAxisTitle" data-value="xAxisTitle" />
                        </label>
                    </div>            
                    <div class="text">
                        <label>
                            Y axis label &nbsp;&nbsp;<input type="text" name="yAxisTitle" id="yAxisTitle" data-value="yAxisTitle" />
                        </label>
                    </div>

                    <div>
                        Manual data <br>
                        <div style="padding:3px;">
                          <textarea style="width: 100%;" 
                              name="manData" id="manData" data-value="manData">
                              [{"Type":"Column", "Meta":{"Name":"ID", "Values":[3, 4, 5]}}]
                          </textarea>
                        </div>
                    </div>            
                    <div>
                        HTML description <br>
                        <div style="padding:3px;">
                          <textarea style="width: 100%; height: 300px;" 
                              name="htmlDesc" id="htmlDesc" data-value="htmlDesc">
                              to je html besedilo
                          </textarea>
                        </div>
                    </div>                                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>  <!-- end Chart settings modal -->
    <div class="modal fade" id="chart-data-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chart Data</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="textarea-chart-data" rows="25"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="button-save-chart-data" class="btn btn-primary" data-dismiss="modal">Save data</button>
                </div>
            </div>
        </div>
    </div>  <!-- end Chart data modal -->
</div>  <!-- end Modals dialogs -->