{% extends "visionBase.html" %}

{% load static from staticfiles %}


{% block head %}
    <link href="{% static 'css/c3.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/d3.js' %}" charset="utf-8"></script>        
    <script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script>        
    <script type="text/javascript" src="{% static 'js/FileSaver.min.js' %}"></script>        
    <script type="text/javascript" src="{% static 'js/algatorweb.js' %}"></script>        
    
    
    <script>
        $(document).ready(function() {
            $(window).resize(function () {
                $("#chart").css("max-height", "");
            });    //on window resize

            var projectName = document.title;
            queryEditor.init(projectName);   //initialize components
            chartEditor.init("#chart");

            var hideQueryEditor = util.getParameterFromURL("hideEditor");    //check if hideEditor parameter was used
            if (hideQueryEditor === "true") {
                chartEditor.toggleQueryEditor();
            }

            var query = util.getParameterFromURL("query");   //check if query parameter was used
            if (query !== "") {
                queryEditor.setQuery(query);
            }   
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{% url 'vision:index' %}">Projects</a></li>
            <li class="active">{{ title }}</li>
        </ol>   

        <div class="row">
            <div class="col-md-4">
             {% include 'queryEditor.html' %}
            </div>   
            <div class="col-md-8">
             {% include 'chartEditor.html' %}
            </div>
        </div>     
    </div>  
{% endblock %}
