{% extends "base.html" %}
{% load static %}

{% block headcss %}
  <link rel="stylesheet" href="{% static 'css/alghp.css' %}">
{% endblock %}

{% block content %}

{% include "navbar.html" %}   

<div id="page-scroll">
<main>
<section class="container" style="padding-top: 80px; text-align: justify;">

  <div class="container">
    <h1 style="margin: 0px;">Contact us</h1><hr class="hr">
  </div>

  <div class="container" id="sendmail_div">
      <form id="contact_form" method="POST" class="w3-container">
        {% csrf_token %}
        <div class='w3-margin' style="text-align: left;"> 
          <label class='myLable' for="yourname">Your name:</label>
          <input type="text" name="yourname" class="w3-input" id="yourname" required>
        </div>
        <div class='w3-margin' style="text-align: left;"> 
          <label class='myLable' for="emailaddr">Email address:</label>
          <input type="email" name="emailaddr" class="w3-input" id="emailaddr" required>
        </div>
        <div class='w3-margin' style="text-align: left;"> 
          <label class='myLable' for="password">Your message:</label>
          <textarea name="message" class="w3-input" id="message" rows="6" style="border:1px solid lightgrey" required></textarea>
        </div>
        <div class="w3-center w3-margin">
          <div class="w3-button w3-block w3-section w3-green w3-ripple w3-padding" onclick="sendMail()">Send</div>
        </div>
      </form>
   </div >
</section>
</main>

{% include "footer.html" %}   
</div>

<script>
function sendMail() {
  let form  = document.getElementById("contact_form");

  if (form.checkValidity()) {

    let name  = document.getElementById("yourname").value;
    let email = document.getElementById("emailaddr").value;
    let msg   = document.getElementById("message").value;  

    runNamedService(ausers.services, "sendmail", {'Name': name, 'Email': email, 'Message': msg},  (response)=>{
      let rmsg=response.Status == 0 ? "Your message was sent successfully." : "Error sending message: " + response.Answer;
      document.getElementById("sendmail_div").innerHTML = rmsg;
    });
  } else form.reportValidity();
}

  document.querySelectorAll(".contact_menu").forEach(el => el.setAttribute("selected", ''));
  document.getElementById("site-header").classList.add("visible");
</script>


{% endblock %}