 <div class="hp-footer">
    <div class="hp-column"></div>        
    <div class="hp-column">
        <p class="hp-footer-title">About</p>
        <a href="/about" class="hp-footer-item navBarEl">ALGator</a><br>
        <!--p class="hp-footer-item navBarEl">About us</p-->
        <a href="/faq" class="hp-footer-item navBarEl">FAQ</a><br>
    </div>
    <div class="hp-column">
        <p class="hp-footer-title">Download links</p>
        <a href="https://github.com/ALGatorDevel/Algator/blob/master/dist/htmldoc/install_windows.md" class="hp-footer-item navBarEl ">Windows</a><br>
        <a href="https://github.com/ALGatorDevel/Algator/blob/master/dist/htmldoc/install_linux.md" class="hp-footer-item navBarEl">Linux / macOS</a>
    </div>
    <div class="hp-column">
        <p class="hp-footer-title">Contact</p>
        <a href="/contact" class="hp-footer-item navBarEl">Contact us</a>
    </div>
    <div class="hp-column"></div>        
  </div>
  <div class="hp-footer" style="padding: 0px 20px;">
    <div class="hp-column"></div>        
    <div style="width:60%; border-top:1px solid white;">
        <a href="https://www.fri.uni-lj.si/en">
            <img style="height:74px;margin-left:-25px" src="/static/images/fri_logo.png">
        </a>
    </div>
    <div class="hp-column"></div> 
  </div>
</div>