{% extends "base.html" %}
{% load static %}

{% block headcss %}
  <link rel="stylesheet" href="{% static 'css/hp.css' %}">
{% endblock %}

{% block content %}

{% include "navbar.html" %}   
<div class="mp-content">
  <div class="hp-content" id="main-content" style="min-height: calc(100vh - 240px);">
    <div style="width: 100%;text-align: center;padding: 32px;">
    <img src="{% static 'images/logo_large.png' %}" style="height: min(calc((100vh - 128px) / 2), 70vw);" alt="ALGator">
    </div>
    <div class="hp-dic">
     <a href="/about" class="hp-pad">
        <div style="width:100%">
          <div class="pad-title lg" >About</div><br>
          <img class="lg"  src="{% static 'images/pikice_i.png' %}" style="width: 80px;">
        </div>
     </a>
     <a href="/faq" class="hp-pad">
        <div style="width:100%">
          <div class="pad-title lg">FAQ</div><br>
          <img class="lg" src="{% static 'images/faq_i.png' %}" style="width: 80px;">
        </div>             
     </a>
     <a href="/projects" class="hp-pad">
        <div style="width:100%">
          <div class="pad-title lg">Projects</div><br>
          <i class="fas fa-puzzle-piece lg" style="font-size: 60px;"></i>
        </div>
    </a>
    </div>
  </div>
  {% include "footer.html" %}   
</div>
     

{% endblock %}