
{% extends "base.html" %}
{% load static %}

{% block headcss %}
  <link rel="stylesheet" href="{% static 'css/alghp.css' %}">
{% endblock %}

{% block content %}

{% include "navbar.html" %}   

<div id="page-scroll">
<main>
<section class="container" style="padding-top: 80px; text-align: justify;">

<div class="container">
       {% include "how_algator_works.html" %}   
</div>

</section>
</main>

{% include "footer.html" %}   
</div>

<script>
  document.getElementById("site-header").classList.add("visible");
</script>


{% endblock %}  
