{% extends "base.html" %}
{% load static %}

{% block headcss %}
  <link rel="stylesheet" href="{% static 'css/alghp.css' %}">
{% endblock %}
{% block headjs %}
  <script src="{% static 'js/upload.js' %}"></script>     
  <script src="{% static 'js/projects.js' %}"></script>     
  <script src="{% static 'js/edit.js' %}"></script>   
  <script src="{% static 'js/permissions.js' %}"></script>   

{% endblock %}

{% block content %}

{% include "navbar.html" %}   

<div id="page-scroll">

<main>
<section class="container" style="padding-top: 80px; text-align: justify;">

  <div class="container">
    <h1 style="margin: 0px;">Projects</h1><hr class="hr">
  </div>

  <div class="container">

    <div class="controls-bar">
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search by projects name, description, owner, tags, ...">
        <span id="clearSearch" class="clear-btn">&times;</span>
      </div>
      <div class="filters">
        <button id="btnAll"     class="filter-btn">All</button>
        <button id="btnMy"      class="filter-btn">My</button>
        <button id="btnSandbox" class="filter-btn">Sandboxed</button>
      </div>
      <div class="action-dropdown">
        <button id="menuToggle" class="menu-dots-btn" title="Project Actions">
          &#8942; </button>
        <div id="dropdownMenu" class="dropdown-content">
          <a href="#" id="actionNew"    onclick="newProject()    ">   <span class="icon">+</span> New project...</a>
          <a href="#" id="actionImport" onclick="openImportFileDialog()"><span class="icon">&#10515;</span> Import project...</a>
          <input type="file" id="fileInput" style="display: none;" accept=".zip"/>       
        </div>
      </div>
    </div>
    
    <div class="project-list-container" style="margin-bottom:20px">
      <table id="projectsTable">
        <thead>
          <tr>
            <th>Project Name & Description</th>
            <th style="max-width:200px">Owner</th>
            <th style="max-width:200px">Last Modified</th>
            <th style="width:100px"></th>
          </tr>
        </thead>
        <tbody id="projectsBody">
        </tbody>
      </table>
    </div>

    <div id="no_problems" style="padding-left:20px">... loading projects</div> 
  </div>
</section>
</main>

{% include "footer.html" %}   
</div>

<script>
const which = current_user_username ? "My" : "All";
document.getElementById("btn"+which).classList.add("active");

{% for project in projects_description %}   
  addProject('{{ project.eid }}', '{{ project.Name }}', '{{ project.St }}', '{{ project.De }}', {{ project.Tg | safe}}, 
                {{ project.Mo }}, {{ project.Na }}, {{ project.Nt }}, '{{ project.Ow }}', '{{ project.On }}', {{ project.Po }});
{% endfor %}
createCards();

document.querySelectorAll(".projects_menu").forEach(el => el.setAttribute("selected", ''));
document.getElementById("site-header").classList.add("visible");

</script>


{% endblock %}
