{% extends "base.html" %}
{% load static %}
{% block headcss %}
  <link rel="stylesheet" href="{% static 'css/hp.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}   
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
<link rel="stylesheet" href="{% static 'css/edit.css' %}">

<script src="{% static 'js/main/main.js' %}"></script>
<script src="{% static 'js/edit.js' %}"></script>


<div class="tooltip"></div>

<div style="height:30px"></div>

<div style="width: 100%; overflow:overlay; height:100vh">

  <div id="new_project_panel" class="w3-container myContainer w3-card" 
       style="padding: 25px 10px 10px 20px; margin: 30px 125px 10px 125px; display:none;">
    <span style="font-size:18px">Create a new project: </span>
    <input style="width:500px;" type="text" id="newprojecttextfield">
    <span id="addProjectButton" class="tooltip-button" data-tooltip="Create a new project" onclick="newProject()">
       &nbsp;&nbsp;<img style="padding-bottom: 5px; width: 16px;" src="{% static 'images/new.png' %}"/>
    </span>
  </div>
  <hr>
  <div class="w3-container myContainer">
    {% for project in projects_description %}
        
        <div class="w3-panel w3-card-2 myCard" onclick="redirectToUrlWithParams('/project/{{ project.Name }}', {homepoint: true });">
            <header class="w3-container">
              <div style="display: flex;justify-content: space-between;align-items: center;">
                <h2 class='cardHeader'>{{ project.Name }} <span name="project_eid" style="display: none">[{{ project.eid }}]</span></h2>
                <span name="privateness_span_holder" key="{{ project.eid }}" ename="{{ project.Name }}"></span>
              </div>
            </header>
            <div class="w3-container cardDesc">
                <p>{{ project.Description }}</p>
            </div>
        </div>
        
    {% empty %}
        <p>No projects available.</p>
    {% endfor %}
    
  </div>
<div>


  <script>
    registerClickOnEnter("newprojecttextfield", "addProjectButton");
    document.addEventListener("DOMContentLoaded", async function() {
      const inputField = document.getElementById('newprojecttextfield');
      inputField.addEventListener('keypress', preventNonAlphaNumKeys);

      let showNewProjectPanel = await can("e0_P", "can_add_project");
      document.getElementById("new_project_panel").style.display = showNewProjectPanel ? "" : "none";
      // show/hide eid information (debug)
      document.getElementsByName("project_eid").forEach(elt =>{elt.style.display = printEID ? "" : "none"});

      await populatePrivatnessSpans("project");
      showHidePrivatenessIcons();
    });

  </script>

{% endblock %}