{% load static %}

<header id="site-header">
  <div class="container nav">
    <a href="/"><div class="logo">
      <img src="{% static 'images/logog_algator.png' %}" alt="ALGator icon">
    </div></a>
    <nav class="nav-links">
      <a class="about_menu"     href="about">About</a>
      <a class="projects_menu"  href="projects">Projects</a>
      <a class="faq_menu"       href="faq">FAQ</a>
      <a class="download_menu"  href="download">Download</a>
      
      <div class="w3-right-align, user-links">
        <span class="navBarEl" style='padding-right: 20px;'></span>
        {% include "usermenu.html" %}   
      </div>

    </nav>
  </div>
</header>
