      <span class="w3-dropdown-hover w3-right">
        <span class="w3-bar-item navBarEl">          
          <i class="fa fa-user fa-fw"></i>{% if request.user.is_authenticated %}<span>&nbsp;User: {{ request.user.username }}&nbsp;</span>{% endif %} <i class="fa fa-caret-down"></i>          
        </span>
        <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0;">
          {% if request.user.is_authenticated %}
            <span onclick="redirectToUrlWithPathAndParams('/users/profile', {})" class="w3-bar-item w3-button">
                <i class="fa-solid fa-user"></i> Profile
            </span>
            <span onclick="redirectToUrlWithPathAndParams('/users/logout', {})" class="w3-bar-item w3-button">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </span>

            <!--span onclick="openMyModalWindow('/users/login')" class="w3-bar-item w3-button">
                <i class="fa-solid fa-right-from-bracket"></i> TEST LOGIN TEST
            </span-->
          {% else %}
            <span onclick="redirectToUrlWithPathAndParams('/users/login', {})" class="w3-bar-item w3-button">
               <i class="fa-solid fa-right-to-bracket"></i> Log in
            </span>
            <span onclick="redirectToUrlWithPathAndParams('/users/signup', {})" class="w3-bar-item w3-button">
              <i class="fa-solid fa-user-plus"></i> Sign up
            </span>          
          {% endif %} 
        </div>
      </span>   

